[2019-02-01 13:19] acockburn commented on #505
I agree with Rene - when it's clear what we can add that will help in this area we can look into it.

[2019-02-01 13:22] acockburn commented on #502
I need a little more info as to what is going on here - which restart are you talking about and what was the error in the app? There are a lot of restarts in the log and I'm not sure what I'm looking for.

[2019-02-01 13:23] acockburn commented on #503
I believe this will be addressed with some added locking in the core.

[2019-02-01 14:53] ReneTode commented on #505
i dont know what MVP support means, but i am sure Andrew is willing to look at a PR from you if you think it is that important.

[2019-02-01 15:47] Kane610 commented on #505
Minimum viable product, something to start with to evaluate further use cases

[2019-02-01 16:03] Odianosen25 commented on #502
I meant the plugin restart.

Normally when a plugin restart, it processes restart of the apps. If you notice in the log, there is no indication that the restart was processed, and it will have a message like “processing plugin restart” or something.

If you notice when the plugin said it was connected to the broker at different times, and though it reported the plugin has completed its initialisat

[2019-02-01 19:13] ReneTode commented on #505
ah, ok. thanks for explaining.

I think that in case from something as new as this in HA, its always wise to let it go on HA for a while.
let people see what to do with it, if it is buggy and if HA will make breaking changes (as they almost always do)

at this moment we are preparing AD for beta release for AD 4.0 and then its not wise to add something new from HA, that they didnt even release (an

[2019-02-03 08:11] Odianosen25 opened #509 "Plugin Logger Warning Doesn't Work"
AD 4.0.0b1

When using `self.logger.warning()` in plugins, it doesn't work. `Self.logger.critical()` and `self.logger.debug()` works.

The expected behaviour, is for an entry in in AD Main Log with a `warning` type, just in line with the way `critical` and `debug` types works
[code]
Instead the logs are blank and no entry is registered. This happens for all plugins.

A quick test is to setup a mqt

[2019-02-03 15:21] dennisschroeder opened #510 "Custom constraints are not global"
It is not possible to use an app to handle sharable constraints in one place and use them in another.

[2019-02-03 15:37] dennisschroeder opened #511 "Dialogflow get_apiai_intent() uses wrong key"
In file appapi.py on line 98 the key to get the intent from the request has changed from the dialogflow side. It´s not `result` anymore. They changed it to `queryResult`.

So the code should be:

[code]

Same with the get_apiai_slot_value() method in line 106

[2019-02-03 16:13] efficiosoft opened #512 "State listeners for an attribute fire even though the attribute's value hasn't changed"
Hi,

Observed on AppDaemon 3.0.2.

A state listener registered with

    self.listen_state(callback, entity, attribute="operation_mode")

fires when just the ``temperature`` attribute has changed and ``operation_mode`` is still the same. The values passed to the callback for ``old`` and ``new`` are then identical.

My assumption is that it shouldn't fire at all unless ``operation_mode`` changes, r

[2019-02-04 07:51] freekatzi commented on #280
first of all regards @ you all.
second: i hope my englich is readable as well :)

My first comment here after starting with ha and add-ons.

I'am failed as well with appdaemon in case of blank page output.
The appdaemon.yaml is changed on restart, the ha_key is deleted and a token will shown.

I use AppDaemon 1.6.0 installed out of HA add-ons.
Home Assistant will be 0.86.4

What kind of informatio

[2019-02-04 13:06] acockburn commented on #280
As I said above - this is not an issue with AppDaemon, it is an issue with the hass.io addon. The issue should be opened there:

https://github.com/hassio-addons/addon-appdaemon3

[2019-02-09 11:47] Odianosen25 commented on #490
Ok I think I have figured it out @acockburn, the issue is that as I got my apps broken down between different `yaml` files, the priority settings don't seem to be respected across the different yaml files.

So if AD could first read all priority settings across the different yaml files, then process it, I believe this can be fixed.

Regards

[2019-02-10 02:41] epruesse opened #513 "Rescale for alternate resolutions"
I've got a collection of (older) devices running the WallPanel app to display the dashboards having various resolutions and aspect ratios. Maintaining different dash-es for each of them is rather tedious.

Would there be a way to simply rescale the display to whatever is supported by the device? I.e. calculate the tile size from the number of rows/columns given the device's display size?

[2019-02-10 03:50] epruesse commented on #513
Modifying the cached `xxx_init.js` by hand, I did a proof of concept:
[code]

This works. It doesn't look perfect because images don't get scaled, etc., but at least it shows everything.

[code]

[2019-02-10 03:55] epruesse commented on #513
Is there a way to customize the `template_dir`?

[2019-02-10 05:44] ReneTode commented on #513
there are several ways to go to rescale.
first off, the dashboard expects that a browser does the scaling (which doesnt work with some outdated devices)
second you can rescale in any dashboard by just changing widget_dimensions. (and thats way better then adjusting init.js)
third you can chose to create your own skin.

i dont know why you want to change any from the original files from appdaemon,

[2019-02-10 17:20] epruesse commented on #513
I've tested >30 combinations of devices with current Android, iOS, Linux, macOS and various current browsers on each. It doesn't work anywhere. The best I get is Safari on iOS, which will rescale *if I pinch*, but will not adjust to a different aspect ratio.

That means creating an extra dash for each type of device, because all of them have different screen sizes. It also means I cannot use `self

[2019-02-11 14:06] ReneTode commented on #513
in general the best way is to use google chrome.
but it will still depend on your dashboard settings. it wont rescale from 4:3 format to  widescreen format.

thats right. there is no possible option to create a dashboard that will show the same on a device with resolution 1920x1080 as on a device resolution 1280x1024

so you would like it that you wont have any option to change how the dashboard l

[2019-02-11 14:59] ReneTode opened #515 "typo in an app prevented AD from restart."
I needed to restart AD (dev) and it wouldnt start at all.
errorlog showed a typo i made a few days back
[code]
after correcting the typo AD started as expected.

[2019-02-11 16:19] epruesse commented on #513
I'll have a look at that.

[2019-02-11 16:53] ReneTode commented on #513
i have a scalefactor in my lcars skin, but i remembered wrong.
there is still a need to change the dimension settings in that one also.

its probably possible to do a rescaling for the widget dimensions in the skin though, but then you need to create a javascript that goes in the head.

you can take a look what i did with lcars here:

https://github.com/ReneTode/My-AppDaemon/tree/master/custom_css

[2019-02-11 21:35] Odianosen25 opened #516 "Plugin `Set_state` Last Changed"
AD 4.0.0b1

When `set_plugin_state` is used in a custom plugin, and the plugin has no `last_changed` attribute in it, AD should auto generate the timestamp for `last_changed` which is updated in the Admin console.

[2019-02-12 18:05] ahknight opened #517 "utils.find_path ignores CWD"
The find_path function only looks at two hard-coded locations for files.  If I start appdaemon and use a relative path to the config dir then I'm erroneously told that there is no appdaemon section in my config file and no apps are loaded.  By altering the command to "$PWD/conf" instead of "conf" everything magically works.

When looking for a file, it's generally expected to check the current wor

[2019-02-12 22:46] ReneTode commented on #517
indeed not all installs are in the same place that is why a full path is expected.
appdaemon cant check the parent directories for wrong fileright settings if the full path isnt given.

also its mostly used as a service where a full path is neccesary.

[2019-02-13 20:04] Odianosen25 opened #519 "AD is Stopped When a Plugin not Initialized"
When a plugin like MQTT is not able to be initialised, it holds up the entire AD system. It will be nice, if each plugin has some kind of timeout, outside which AD can still continue and when the plugin initialises, AD just continues from there.

[2019-02-17 00:43] dmwyatt opened #520 "run_in not correctly validating entity ids"
This code:
[code]

Results in this error:
[code]

At some point the `entity_id` named argument is getting passed to the `_check_entity` method as a dict instead of the value.

If I just call `self.turn_off(entity_id=self.args['device'])` instead of using `run_in`, it works correctly.

[2019-02-17 11:24] ReneTode commented on #520
you cant use a function as callback.
your code should be:
[code]

[2019-02-17 14:35] DaBIGOne opened #521 "Widget_type: Navigate not returning as expected"
# Problem/Motivation

I try to navigate to a 2nd dash with a separate skin and then return after an amount of time, for test purposes I've set 3 seconds for now.

in may main dashboard Home.dosh I added:
verlichting:
    widget_type: navigate
    title2: Verlichting
    dashboard: Verlichting
    skin: Verlichting
    args:
        timeout: 3
        return: Home
        skin: Home

## Expected be

[2019-02-17 20:45] dmwyatt commented on #520
What do you mean I can't use a function as a callback?

What is the difference between `self.turn_off` and `self.cb`?  AFAICT, they're both just methods on the class.

[2019-02-18 11:20] ReneTode commented on #521
that would lose the flexibility to use any dashboard with any skin at any time.
the temp files for every dashboard with every skin are build on different places. so it wouldnt be possible to give the skin in the url anymore.

but i think the navigate should return to the old skin as default with the option to change to the new skin.

skins are not designed to use with a single dashboard. in a skin

[2019-02-18 11:25] ReneTode commented on #520
self.turn_on is a predefined function from dashboard
a callback ALWAYS need a specific way its build.

every timer callback expects the def to look like:
[code]
self.turn_on doesnt look like that.

every listen_state callback needs to look like:
[code]
thats the way AD is designed and how its in the docs.

so the difference between self.turn_off and self.cb is that 1 is defined as callback and the

[2019-02-18 12:54] gibman opened #522 "MQTT 1-2 sec latency"
hi.

setup is an old rasp pi 1 rev. b+ running hass.io 0.87 connected using ethernet

I have a small esp8266 (wifi) running a simple sketch that emulates a PIR sensor as well as a switch.
(code is attached below)

This is a proof of concept as to see what kind of latency I could achieve when using appdaemon as the "main controller".

the esp publishes the PIR sensor state once it detects motion.
a

[2019-02-18 13:25] ReneTode commented on #522
there are to many things involved to be able to say where the latency comes from.

and allthough switching from PI1 to PI3 would speed up a bit, i dont think it would make a hugh difference.
depends though if you have more then AD on the PI.
the best way to see where the lagging is, is by checking your MQTT server (probably also on the same pi) and AD times.

you can see the time that MQTT sends t

[2019-02-18 15:30] gibman commented on #522
hi Rene..

Thanks for taking the time to respond to me :)

here's an excerpt from home-assistant.log that I find interesting.

It looks like most of the time is spent within AD and the broker itself.
the broker is on the same pi, yes.

appdaemon.yaml for reference is:
`appdaemon:
  time_zone: ***
  latitude: ***
  longitude: ***
  elevation: 89
  threads: 10
  app_dir: /config/appdaemon/apps
  api

[2019-02-18 15:33] dmwyatt commented on #520
Oh, ok.  So it's *not* this:

It's the function signature that is the issue.

[2019-02-18 15:34] #520 closed

[2019-02-18 22:38] gibman commented on #522
I think it's solved more or less...

I removed the builtin MQTT broker from configuration.yaml and instead installed the Mosquitto broker (hass.io plugin), now the ESP reports 300-800 ms per call - a nice improvement.

No idea if this is still too much lag when pressing a physical button on the wall which in turn would light some LEDs (all using mqtt on the rpi)

[2019-02-19 00:29] ReneTode commented on #522
im glad you found something out, because logs and yaml are very hard to read that way.
here is the link from the forum to do it better next time
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code
works also here on github.

i think you got a good improvement. that could be improved by better hardware, but i think the main lagging part left is in the network.
possibilities to spe

[2019-02-19 00:34] ReneTode commented on #520
if you want to call it that way. ;)
my learning from python was about the same as learning from AD.

in my eyes there is a clear difference between a callback and a function.
for me a callback isnt some function with a specific signature, but another ballpark.

but at least you know now why you got errors. it could be helpfull to read the docs to find out whats different between appdaemon and pyth

[2019-02-19 09:40] foxy82 opened #523 "Unexpected error when stopping appdaemon"
I get this error every time I stop AppDaemon

[code]

[2019-02-19 11:59] ReneTode commented on #523
what version from AD?
do you have apps running?
what kind of apps? how are they build?
how do you stop appdaemon?
what system are you running on?

its hard to say where such an error comes from without more information.

[2019-02-19 12:24] foxy82 commented on #523
Thanks for replying.

AD is 3.0.2.

I've got the MqttPlugin running. It is subscribing to a topic and when it gets a message it is running a bash script to use cecclient (on a Raspberry Pi Zero W).

Stopping appdaemon using systemd I used the service file provided for that.

Any more info I can give?

[2019-02-19 12:25] foxy82 commented on #523
Oh and the line just above the error is:
`AppDaemon: MQTT: Stoping MQTT Plugin and unsubscribing from URL hub:1883`

[2019-02-19 13:10] ReneTode commented on #523
i think maybe the MQTT plugin gets an event after some parts are already closed.
i wouldnt worry about it.
the mqtt plugin has already changed much in the next version from AD, so its very well possible that this will disappear with the next release.

[2019-02-19 13:44] foxy82 commented on #523
The only thing is I think that might mean the message I'm trying to send in "terminate()" isn't being sent.

Essentially I'm trying to make it so that when the app is running then an mqtt switch in HA can get a status of online, and when I stop appdaemon it will go offline. I tried initially with the birth and will topics but maybe I'm not understanding how they work correctly.

Home Assistant con

[2019-02-19 15:36] Odianosen25 commented on #523
@foxy82,

The `will_topic` is only used when the plugin disconnects from the broker in a non clean way; like AD stopping abruptly. If AD was stopped by the systemd as you said, the `will message` which is `offline` by default will not be sent as that is done cleanly. So your best bet, will be to use the `terminate` function to send a message when the the app is being stopped as that will happen wh

[2019-02-19 15:50] dmwyatt commented on #520
The following is just presented in a good-natured effort to elucidate.  Don't take it in any sort of negative way!

Yes, that is what those words mean.  🤣

Every function can be a callback, and every callback is a function.

The word callback is a shorter way of saying "a function that is passed to another function for later execution".  In fact, `func` is often the name given to the argument that

[2019-02-19 20:13] ReneTode commented on #520
still there are a lot of people complaining that its not the pythonic way.
and my response to that is: thats true its the appdaemonic way.

in appdaemon there is a clear difference between a function and a callback.

thats why i say if you would call it that way.
you talk python, i talk appdaemon.

[2019-02-19 20:21] ReneTode commented on #523
@Odianosen25 if i read correct he has put in a send message in the terminate, and that causes the error.
so its worth to look into that, to see if a send message is correctly handled in terminate before the plugin is stopped.

@foxy82 the next release was planned almost 2 months ago, but real live has given that a curveball.
Andrew needs to clean up some more stuff before AD 4.0 beta is released,

[2019-02-19 21:49] dmwyatt commented on #520
In what way?

[2019-02-19 23:23] ReneTode commented on #520
a function can have every kind of signature you like and can return a value and cant be constraint(in yaml or in the script)

a callback needs the set signature, will always return a handle, and can be constraint (with cancel_timer)

you said:

but thats not true in appdaemon.
not every function can be a callback, because a callback needs a specific setup

in appdaemon it would be "a callback is a

[2019-02-20 08:04] Odianosen25 commented on #523
@ReneTode the reason I said so, was from the error he gave, its not from a message begin received, but a state update. There is no `state_update` in the MQTT plugin, so I don't think its from there.

@foxy82, can you kindly share the code that is being run in the terminate function?

Regards

[2019-02-20 09:22] foxy82 commented on #523
Hi,

So this app daemon has 3 apps running but two are "hello world" although I have just noticed they are extending the HASS plugin which I don't have installed.  Changing them to mqtt.Mqtt removes the error.

BUT...

The terminate method still doesn't fire. So here is the code of the app I'm running.

[code]
and the app config:

[code]

and appdaemon config

[code]

[2019-02-20 10:16] Odianosen25 commented on #523
Hello @foxy82,

Ok glad the error has gone now, as as per the second, @ReneTode made a comment on changes in AD structure, so I believe that has been fixed. There was a bug in the order that the terminate was done, and I believe what you are experiencing was one of them. AD 4.0 fixes that

Regards

[2019-02-20 10:52] Odianosen25 commented on #519
This is my error, working on a fix

[2019-02-20 11:07] Odianosen25 commented on #522
@gibman, could you please close this issue if fixed?

Thanks

[2019-02-20 13:28] DaBIGOne commented on #521
Well, the main reason why I want a separate skin for each dashboard is the background image.
Maybe if it would be possible to assign the background image in the .dash file it would be workable for me too.

I make small changes for every skin, but I can work around that I think. Like a big clock on the main screen, but smaller clocks on the other pages, maybe I can assign CSS to the name in stead o

[2019-02-20 15:06] ReneTode commented on #521
clock can be completely changed in the dashboard.
so no need to do that in skin.
for the background from each dashboard there is a script solution.

place this in the headscript from your skin, and you can give each dashboard a background with the same name as the dashboard.
[code]
place the background images in /custom_css/skin_name/img

[2019-02-20 15:09] DaBIGOne commented on #521
That is awesome, that would solve my issue. I'll try it when I get home from work.
Thanks.

[2019-02-20 17:18] DaBIGOne commented on #521
Yes, added it to my variables.yaml and it worked like a charm :)
Thanks, this is a much better solution than having an CSS for every file :)

[2019-02-20 17:49] ahknight commented on #517
Well, then let's back up a bit.  The problem is that the tool when invoked doesn't tell the user that a non-absolute path was used and that's the reason for the failure to start.  If an absolute path is absolutely required then any path argument that doesn't start with a directory separator should give the user a clear error.

I lost about 30m searching for answers until a random forum post mentio

[2019-02-20 21:14] ReneTode commented on #517
thats probably because the creator expects that someone who starts appdaemon for the first time reads in the docs how to do that and there is clearly stated that a full path is expected.

thats my advise in that case, next time look at the docs before searching the forum ;)
https://appdaemon.readthedocs.io/en/latest/index.html

its very hard to test if the right path is given, the only thing that

[2019-02-20 21:15] ReneTode commented on #521
i am glad it helped you.
if you are satisfied then please close the issue.

[2019-02-20 22:23] ahknight commented on #517
If relative paths are so difficult, then I wonder how 50 years of UNIX/POSIX tools managed to work at all.

[2019-02-20 22:23] #521 closed

[2019-02-21 02:26] ReneTode commented on #517
i meant that it isnt just as simple as checking for a /
but if its that simple, then i guess you know how and can add a PR, i am sure Andrew wont mind.

but i am sure there is a reason why he chose full path and did write it in the docs.
and maybe that reason has gone while developing AD, so it might be an option for the future.

by the way if its simple i would like to know too, because i tried s

[2019-02-23 09:46] Raphael99-99 commented on #485
Same problem here. I edited the DockerFile to make it compatible with my rpi 3b+ and the same error happens to me.
What should i do to update to the latest log format?
Thanks

[2019-02-23 12:56] ReneTode commented on #485
the docs for the logformat for the dev version are here, if thats what you are looking for
https://appdaemon.readthedocs.io/en/dev/CONFIGURE.html

[2019-02-25 07:16] Odianosen25 opened #525 "Using the '__function__' flag in Logs"
When trying to log with the function name being used like

[code]
`__line__` returns the wrong line as `86`, so also `__function__` returns `log` instead of the function name `some_function`.

Regards

[2019-02-25 17:29] Odianosen25 commented on #525
Fix here #526

[2019-02-26 20:13] acockburn commented on #522
N o response - closing.

[2019-02-26 20:13] #522 closed

[2019-02-26 20:13] #523 closed

[2019-02-26 20:13] #525 closed

[2019-03-03 06:15] #502 closed

[2019-03-05 20:36] 2sheds opened #529 "YAML lists come up empty on reload"
I have all my parameters of list type come up empty on reload. On clean start they load fine however.
Below is an example of an app:
[code]
All the params load fine but `lights` would consistently return empty `[]`.
I'm very new to AppDaemon so hope I'm not missing anything obvious but I did my googling in advance and nothing similar turned up. Yamllint comes up empty.

[2019-03-05 22:43] ReneTode commented on #529
what do you mean with reload and clean start?
what is the code?
how did you setup appdaemon (on what kind of device and instal method?)

maybe you did miss a few things so the basics:
- the initialise section from the app class ONLY gets activated when you restart appdaemon (or change something in the code)
- a callback gets called based on time or statechange, but never picks up anything that is

[2019-03-09 08:31] 2sheds commented on #529
My Appdaemon runs in Docker Alpine Linux x86_64, installed from pip

Good to know, got it.

initialise section, unless the vars are made global for the class.

I use exactly that property, as described in docs. It is also global to the class so the callback should have the same visibility as the init.

I used it just to verify my `apps.yaml` file so it's correct.

The callback can be as simple as

[2019-03-09 14:54] ReneTode commented on #529
sorry, cant reproduce it so it must be something on your side.
what version from AD are you using?
i tested with this app in 3.0.2:
[code]
that gave me this in the log:
[code]
then i changed the log line in the code and got this in the log:
[code]
then i changed a line in the yaml and got this in the log:
[code]
with this yaml:
[code]

so there must be something in your code or AD version that cau

[2019-03-11 22:44] 2sheds commented on #529
There was indeed an error in my code. I failed to mention I used a class variable which was shared with all its instances. This is an incorrect pattern as illustrated here: https://docs.python.org/3/tutorial/classes.html#class-and-instance-variables - once I removed this, everything worked successfully.

[2019-03-11 22:44] #529 closed

[2019-03-15 05:41] Odianosen25 opened #532 "Ability to start and stop Apps"
It will be nice to be able to start and stop apps from other apps.

This way one have have some semi app management app, and disable apps which are not needed.

[2019-03-21 12:06] psamim opened #533 "Cannot start AppDaemon"
Hi,
I recently installed `AppDaemon` in a venv using pip. I created the `appdaemon.yml` file. When starting the `appdaemon` I get the following and it seems that it does not read the apps. I created the test app but nothing happens. I also get the following warnings.

[code]

I am using Archlinux with Python 3.7.2
This is the content of my `conf/appdaemon.yaml`:
[code]
Thanks

[2019-03-21 15:43] acockburn commented on #533
Did you create an apps.yaml file in the apps directory?

The error looks like just a warning and I would expect it to still work so it may be another issue.

[2019-03-21 16:33] psamim commented on #533
@acockburn Thanks for fast reply! This is the files I have:
[code]

[code]
[code]

I also run `appdeamon` with debug flag:
[code]

Will I see some errors if the config values are incorrect? Or some required values are missing?

Because even with only below two lines of config I get the same results:

[code]

[2019-03-21 17:08] Odianosen25 commented on #533
Hello @psamim,

First you using python 3.7, and AD states 3.6 max. PyYaml has been updated to 5.1 which I think you are using, and AD has not been upgraded to use it.

Please uninstall PyYaml and run `pip3 install PyYAML==3.13`

Kind regards

[2019-03-21 17:48] psamim commented on #533
@Odianosen25 Hi,

I installed python 3.6.8 and pyYAML 3.13 but still get the same results.

[code]

[2019-03-21 17:50] psamim commented on #533
[code]

[2019-03-21 17:51] Odianosen25 commented on #533
Can you pls show the output of pip3 freeze?

[2019-03-21 17:52] psamim commented on #533
Sure.

[code]

[2019-03-21 17:54] psamim commented on #533
I do not get the warnings regarding yaml but still no info showing the apps are running or no errors.

[code]

[2019-03-21 17:57] psamim commented on #533
Can this be related? When I hit ctrl-c to stop the appdaemon I get these:
[code]

[2019-03-21 18:02] Odianosen25 commented on #533
Can you kindly paste your entire appdaemon.yaml file?

[2019-03-21 18:02] Odianosen25 commented on #533
And pls paste the full directory path of your configuration folder

[2019-03-21 18:07] psamim commented on #533
I fixed the issue but it seems really weird!

 If I give the config path (`-c` argument) as relative path, it does not work. If I give full path it works. With full path it works in both Python 3.6 and 3.7.

Full path:
[code]

Relative path: (stuck here)
[code]

[2019-03-21 18:12] psamim commented on #533
I checked the docs and I saw the word `full path` was mentioned in the help text in the command line but it was not mentioned in the description below it in the online docs. So it seems it was my fault that I missed it. But if this is so important let's make it more clear and emphasized because It seems you missed it too. ;)

 Thanks for quick replies and great work.

Regards

[2019-03-21 18:55] Odianosen25 commented on #533
Hello @psamim,

Glad it was fixed. I was beginning to suspect it, that was why I requested your full path after the `PyYaml` didn't fix it.

But all good anyways.

Kindly close issue since its fixed now.

Kind regards

[2019-03-21 19:01] psamim commented on #533
The actual issue is that in the log messages it was said that the config was successfully read without errors (`INFO Configuration read from: ./conf/appdaemon.yaml`) but actually it was not read at all and had errors silently. So I think this needs a fix.

Thanks

[2019-03-21 19:03] Odianosen25 opened #535 "Delete Entity from User Defined Namespace"
it will be nice to be able to delete entities from user defined namespaces, as since it is stored and restored even when AD restarts, there is no way to remove an unneeded entity.

[2019-03-21 19:11] Odianosen25 commented on #533
@psamim you have a good point.

@acockburn do you think based on this, this issue should be left opened?

Regards

[2019-03-21 19:17] acockburn commented on #533
I reopened it - we should fix this as it has cropped up before.

[2019-03-23 10:44] lonebaggie opened #537 "add step to light widget"
Have light template as volume control. Need more granular control of brightness (volume) 10% steps too high

[2019-03-23 18:58] mvn23 opened #538 "PyYAML-5.1 breaks !secret tag parsing"
After an update with `pip3 install --upgrade appdaemon`, AD would not start anymore. The systemd journal shows the following:
[code]

Downgrading PyYAML to 3.13 solves the issue.
This could be an upstream issue, since it looks like there are some problems with 5.1 which may be related and possibly fixed in 5.2: yaml/pyyaml#265

[2019-03-24 18:45] Odianosen25 commented on #512
Yeah issue needs looking into, as when another attribute is changed on the entity, the attribute being listened to is called even though it didn't change or was not affected.

In a busy thread, this easily leads to thread starvation due to constant calling of the attribute, which sometimes seem it leads to some form of loop for a while.

Regards

[2019-03-24 20:55] martinwk opened #539 "listen_state fires every second while state is unchanged"
Hi there,
great software you have created.

I was running into an issue where the listen_state fires every second while the state stays the same. In particular this line of code:
[code]
which listen to the chromecast audio state.
when printing the args it says:
[code]
showing the state is indeed not changed.

adding the old states to the listen_state def does not trigger the callback every second:

[2019-03-26 13:26] martinwk commented on #539
Oh I see, did not find it when I was looking for a fix. Good to hear a fix is in the next update!

[2019-03-26 21:58] turboc1208 opened #540 "add error message to admin interface when callbacks error and aren't re-created automatically"
I think what happened here is that a scheduled event encountered an error in the callback and as a result it deleted the scheduled event ( or didn't create a replacement , not sure how that works ).

'''
2019-03-26 15:47:17.111675 WARNING office_lights: Coroutine (<coroutine object Services.call_service at 0x7f6c499cd830>) took too long (10 seconds), cancelling the task...
2019-03-26 15:47:17.1158

[2019-03-27 18:23] Odianosen25 commented on #535
Fix for this in PR #534

[2019-03-27 20:26] acockburn commented on #532
We will be adding the hooks for this as part of the admin interface and API. It will probably be implemented as an AD service meaning you would automatically be able to do it from apps as well.

[2019-03-27 20:45] #535 closed

[2019-03-29 16:26] acockburn commented on #538
Thanks for the info - I'll look into pinning the version until they figure it out.

[2019-03-29 16:28] acockburn commented on #540
We can look at that :)

[2019-04-02 07:26] Luke15153 commented on #538
This issue occurs also with the latest addon v2.0.1.
With v1.7 everything was fine, v2.0.1 won't start any more.

[2019-04-02 09:55] wangjiwang opened #541 ""state_text_style" does not work"
"If it is showing text it will use the text style, which among other things makes the text size smaller."
Hi, How to solve this problem? the  text size is too small and the  state_text_style: "font-size: 80%; color: red" doesn't work.

[2019-04-02 11:29] #509 closed

[2019-04-02 12:58] acockburn commented on #538
@Luke15153 You need to report that separately as an issue with the addon, as I have no control of the environment there.

[2019-04-02 13:02] acockburn commented on #541
The default for state_text_style is "color: $white; font-size: 100%" so you are actually making it smaller. Try something like "font-size: 200%; color: red"

[2019-04-02 14:43] frenck commented on #538
@acockburn The add-on does only require AppDaemon and nothing else. See:

This add-on does only install AppDaemon:

<https://github.com/hassio-addons/addon-appdaemon3/blob/master/appdaemon/requirements.txt>

Dependencies of AppDaemon are not locked in by the add-on, but are defined in:

<https://github.com/home-assistant/appdaemon/blob/dev/setup.py#L18>

So could you please add some proper version

[2019-04-02 14:44] frenck commented on #538
PS: I could do a version pin on the add-on end to help people, but IMHO, it should be fixed at the root.

[2019-04-02 14:49] acockburn commented on #538
I agree and ultimately am planning to fix it in the next release which is planned to be a version bump to 4.0 with a lot of changes in it. This may be some time yet as it needs some fixes and I am out of time to work on it, which means the addon will be broken until I can get to it. The only thing I can do in the short term is release a fix on the 3.0.x version and hope it works OK as I don't have

[2019-04-02 15:05] frenck commented on #538
@acockburn Check, thanks for explaining. In that case, I'll lock the PyYAML in the add-on for now to 3.13, that will take the heat of the issue.

[2019-04-02 15:07] acockburn commented on #538
No worries - I am making the change now

[2019-04-02 15:08] acockburn commented on #538
Just about to cut the release and I'll make a PR as usual

[2019-04-02 15:12] frenck commented on #538
No need to do the PR
That is automated now 😉

Thanks @acockburn 👍

[2019-04-02 15:15] acockburn commented on #538
Ahh, very cool :)

Well I pushed the fix to pypi so we shuld be good to go.

[2019-04-02 16:26] mvn23 commented on #538
Works like a charm. Thanks!

[2019-04-03 18:56] acockburn commented on #538
@mvn23 - could you do me a favor please? I have discovered that version 3.13 of PyYaml has a serious flaw in it and I need to upgrade to at least 4.2b1 to fix it. However, I was unable to reproduce your original problem. Could you confirm that upgrading to 4.2b1 doesn't cause the original issue to return? If you can do that for me I'll release another version to upgrade PyYaml to that level., Than

[2019-04-04 12:09] mvn23 commented on #538
Unfortunately, everything after pyyaml==3.13 breaks the tag parsing. I assume that by 'serious flaw' you mean [CVE-2017-18342](https://nvd.nist.gov/vuln/detail/CVE-2017-18342), in which case the fix for this is exactly what is causing the issue.
I made a fix on the master branch which uses `yaml.SafeLoader` through the `Loader=` parameter as per [the pyyaml wiki](https://github.com/yaml/pyyaml/wik

[2019-04-04 12:24] acockburn commented on #538
Excellent thanks! I'll merge on master and release a build then I can just merge the same commits into dev.

[2019-04-04 12:24] #538 closed

[2019-04-04 12:40] acockburn commented on #538
AppDaemon 3.0.4 just released with your safeloader fix and pyyaml pinned to 5.1

[2019-04-05 13:31] unconfigured commented on #505
Nice to see there is already a request for it. I would like to use areas to represent rooms and I have just searched for a way to lookup to which area/room a motion sensor belongs to than query other devices in that area/room (lights, media_player, ...) and react accordingly. This would be much nicer than maintaining groups with all devices for all rooms. Cycling through entities and do some magic

[2019-04-06 15:52] ReneTode commented on #505
whats the advantage from an area called livingroom over a group called livingroom?
in both cases you need to ad the devices that belong to livingroom.

i have groups like that since 2 years, i like to know what advantage it would give to change to areas?

[2019-04-09 19:05] ReneTode opened #546 "request: password split up"
in dev there is just 1 password for API, dashboards and Admin interface.
dashboards that are used locally, or the AI dont really need a password, and it can even be annoying if you have a dashboard showing by an app that deletes cookies and or cashe.

so it would be great if we could set password (or not) for API, dashboards and AI seperately.

[2019-04-11 11:14] foxy82 opened #547 "ImportError: cannot import name 'RLock' running in PyCharm"
Creating a brand new venv in pycharm and just installing the requirements in the setup.py I get the following error when trying to run main.py. Using master checked out from github earlier today.

[code]

[2019-04-14 18:58] raffidil commented on #512
I have the exact same issue. Looking forward to hearing from it.

[2019-04-14 23:04] kicker10BOG opened #548 "!secret being parsed out"
I'm trying to setup AppDaemon for with HassOS and using a secret for the token like:
`token: !secret appdaemon_token`
but after restarting AppDaemon I check appdaemon.yaml and it has changed to:
`token: appdaemon_token`
It's as if `!secret` is being parsed out.
Here is my file before it parses out the !secret:

[code]

[2019-04-14 23:10] ReneTode commented on #548
in hassos you are not expected to change the token.
the addon creates its own token and changes that regularly.

if you dont want that behaviour the create an issue with the addon, this is not something that is controlled by appdaemon.

[2019-04-14 23:15] kicker10BOG commented on #548
Hmmm. That doesn't seem to be the case for me. If I remove the token line, I get
`WARNING AppDaemon: HASS: Disconnected from Home Assistant, retrying in 5 seconds`
over and over in the log, just like if I use `!secret` but if I put an actual token string there, it works.

[2019-04-14 23:18] ReneTode commented on #548
thats because the token line should be there.

delete appdaemon.yaml and uninstall the addon.
then install the addon again and it should be oke.

[2019-04-14 23:28] kicker10BOG commented on #548
Ok, that didn't work. I don't think it fully removed the addon.

However, setting `"disable_auto_token": true` in the addon config allowed me to use `!secret`

[2019-04-14 23:28] #548 closed

[2019-04-16 09:01] Kane610 commented on #505
Areas are connected to devices so one benefit is that you tie all entities belonging to a device to an area. This will simplify contextual automations like turn on all lights in an area

[2019-04-17 23:01] ReneTode commented on #505
maybe this is a wrong example, because it was already simple to automate turn on all lights in a group.

so i am still wondering:
what is the difference between when i connect a device to an area called livingroom and when i connect a device to a group called livingroom.

maybe an example what i can do with area that i couldnt do with group?

[2019-04-21 16:25] Odianosen25 commented on #512
This has been fixed in latest dev, so closing this issue

[2019-04-21 16:25] #512 closed

[2019-04-21 16:26] Odianosen25 commented on #539
This has been fixed in latest dev, so closing this issue @martinwk

[2019-04-21 16:26] #539 closed

[2019-04-21 16:26] #519 closed

[2019-04-21 20:14] Odianosen25 opened #552 "Info_timer Error"
When a schedule has been executed or cancelled, and the timer’s handle is checked using info_timer(handle), it throws an error

[2019-04-21 20:53] martinwk commented on #539
Great I will check it out!

[2019-04-21 22:14] Odianosen25 commented on #547
This issue should be local to your environment. Pls check that you have the all modules properly installed.

Regards

[2019-04-22 07:26] Odianosen25 opened #553 "Local Time"
In AD 4.0b, please add a system local time entity as one of the sensors within the admin namespace. This way, a real-time local time can be used within apps, which are not necessarily schedulers.

[2019-04-22 09:16] #553 closed

[2019-04-24 14:01] vigonotion commented on #505
Take a look here: https://github.com/home-assistant/architecture/issues/94

This one is why home assistant added areas

[2019-04-24 14:03] vigonotion commented on #505
It's now the recommended way of sorting devices into "rooms".

I have an app that goes through all entities and finds the ones that have a `battery_level` attribute. If the battery is low, I'll get a notification. I want add the area to the notification, so I know in which room the sensor is placed.
Would really appreciate areas in appdaemon

[2019-04-24 14:05] acockburn commented on #505
Can you explain what you would need AppDaemon to actually do for you?

[2019-04-24 14:11] vigonotion commented on #505
a function that returns AREA for given ENTITY_ID

[2019-04-25 21:26] ReneTode commented on #505
but how do you see if an entity belongs to an area?
is that given as an attribute from the entity?

i dont think so. i can hardly find anything back in the docs on how to configure areas, or anything else about it. (could be my lack of searching)
but i think the only way to find out to what area an entity belongs is to look to all devices, see if an entity belongs to a device and then look at all

[2019-04-30 05:04] runningman84 opened #556 "Prometheus support"
It would be cool if appdaemon would expose some stats using the Prometheus format.

[2019-04-30 08:54] Odianosen25 commented on #556
Hello @runningman84,

Can you kindly expand on what you are saying?

Kind regards

[2019-04-30 09:07] runningman84 commented on #556
a prometheous endpoint for appdaemon would allow us to monitor if the connection to home-assistant is working and how to apps are performing...

[2019-04-30 17:43] Odianosen25 commented on #495
Suspending this issue for the mean time, as my issue seems solved for now.

Not sure why to be honest.

[2019-04-30 17:43] #495 closed

[2019-05-01 09:07] sensei73 opened #557 "can't install python-Levenshtein"
Hello when I tried to install python-Levenshtein, I have this error:

error: command 'gcc' failed with exit status 1

Thanks in advance.

[2019-05-01 12:30] acockburn commented on #556
The dev version of AD currently has a new admin interface, and as part of that, a number of internal data structures are exposed as entities and can be queried via the new REST interface. I am not familiar with Prometheus, but if it is capable of making arbitary REST calls to gather info, this could be made to work with some effort on the Prometheus side.

[2019-05-01 13:01] runningman84 commented on #556
Added Prometheus support in a python app can be done quite easily:
https://github.com/prometheus/client_python/blob/master/README.md

[2019-05-01 23:56] ReneTode commented on #557
if you try this on hassio, you need to include the needed stuff into requirements.txt
i advice to look at the forum for more info, because there are several simular topics.
you could also lookup the documentation about the hassio addon, because this belongs there.

this is not an appdaemon issue.

[2019-05-02 00:09] ReneTode commented on #556
it isnt that easy as they suggest.
AD already starts a server, adding a server the way they suggest will start up a second server on another port, which can go wrong easily.
they dont tell what kind of server is started and how.

so to add this there has to be a lot of research done and a lot of testing.
there must also be an option in the appdaemon.yaml created so people can chose the option (you

[2019-05-02 05:04] sensei73 commented on #557
Thanks for showing me the right direction. Solved, by adding "g++" in "system_packages", I didn't see this section... (even if this was right in front of me)! Thanks

[2019-05-02 05:04] #557 closed

[2019-05-04 05:43] #552 closed

[2019-05-04 05:45] Odianosen25 commented on #503
Closing for now, might not need to lock

[2019-05-04 05:45] #503 closed

[2019-05-06 02:32] ConnorGriffin opened #561 "Priority issue - Apps not respecting priority"
I am having an issue where my app priority doesn't seem to be respected.

I have two apps, one that installs prerequisite python packages (install_dependencies), and one that imports one of those packages (cox_usage).

The apps are configured as follows:

[code]

Every time I recreate my docker container I have to comment out the cox_usage module, allow install_dependencies to complete, and then u

[2019-05-06 08:43] Odianosen25 commented on #561
Hello @ConnorGriffin,

Can you post your AD startup logs please?

Regards

[2019-05-07 17:57] acockburn commented on #546
Should be doable :)

[2019-05-07 17:58] acockburn commented on #547
Closing - we don;t have the resources to support other products :( I would suggest asking on the forum for this kind of issue.

[2019-05-07 17:58] #547 closed

[2019-05-07 17:59] acockburn commented on #541
Assuming resolved since there was no reply.

[2019-05-07 17:59] #541 closed

[2019-05-07 18:00] acockburn commented on #556
I'll leave this under consideration, but it's not a high priority for now. If you want to get this into the product more quickly, a Pull Request would be gratefully accepted.

[2019-05-08 16:55] ConnorGriffin commented on #561
appdaemon.log
[code]

error.log
[code]

[2019-05-08 17:02] ConnorGriffin commented on #561
I had duplicate config files declaring the same apps, and one of them did not have the dependency data. Cleared that up, everything is good now. Sorry for the trouble guys!

[2019-05-08 17:02] #561 closed

[2019-05-13 18:07] #485 closed

[2019-05-15 19:47] Kane610 commented on #505
The entity id belongs to a device which belongs to a group. That is how it is resolved.

You configure it mainly through the frontend.

[2019-05-22 20:09] noxhirsch opened #569 "Feature Request: Conditional Card / Layout"
I'd love to add some flexibility to my dashboards and change parts of a dashboard based on conditions. So you could show buttons for window shades when the sun is bright and buttons for lights when there's no sun. Or show some traffic sensors before work in the morning and the media player card when you're back home in the evening (there are endless more options, but I think you get the point).
At

[2019-05-22 20:12] noxhirsch commented on #569
New idea:
Another solution could be a conditional card with a reference to an existing card:
[code]

I think this is my new favorite, because it's clear and easy to understand - *and* you can use your existing cards.

But I don't know if it's realizable ;)

Nico

[2019-05-23 06:14] foxy82 opened #570 "AppDaemon hangs when calling service from a coroutine"
I have an app that runs a coroutine to check evdev for inputs. On receiving an input it should publish to MQTT using the mqtt plugin. When it runs the mqtt_publish hangs and never returns here are some code snippets:

`
class EvdevToMqtt(mqtt.Mqtt):
    def initialize(self):
        self.topic = self.args["topic"]
        for device_name in self.args['devices']:
            device = evdev.InputDev

[2019-05-23 13:52] acockburn commented on #570
I believe you are running into a locking issue when trying to mix threaded and async code

Your code is running in a separate thread from ADs code, but you are trying to use ADs loop. I have experimented in this area and run into quite a few locking problems, as under the covers your call to the plugin has its own locking in the call from the tread into ADs async core.

I am working on async apps

[2019-05-23 13:54] acockburn commented on #569
I like idea #2 :)

I think this would be a good addition, I'll add it to the feature backlog.

[2019-05-25 06:18] freol35241 opened #571 "Retained MQTT messages not received on app restart"
Hi, first of all thank you for AppDaemon, great work!

I am currently pursuing a MQTT-based home automation system, utilizing retained messages to keep a "state" in the system. This works quite well but I am having some problems with AD with this.

Correct me if I am wrong, but as AD manages all mqtt events centrally and distributes these as AD events the retained information is essentially lost?

[2019-05-25 13:04] Odianosen25 commented on #571
Hello @freol35241,

Yes if only the app restarts, it will not get a retained message as you said the central plugin does not get the retain messages.

I am not sure there is a way to get around this, unless you find a way for the app to request the data over MQTT when it restarts. That is what I do.

[2019-05-26 09:15] freol35241 commented on #571
Ok, thanks for your reply. So if i understand it correctly you have implemented some kind of logic on top of MQTT and appdaemon to arrive at the wanted behavior?

A curious question: What is the benefit of having a single, centralized mqtt handler in appdaemon rather than a "per-app" mqtt handler? In such a case, each app could benefit from all features of the mqtt protocol? Any drawbacks in terms

[2019-05-26 14:24] Odianosen25 commented on #571
Hello @freol35241,

First the beauty of AD and the MQTT plugin, is that you can connect to as many brokers as you like at the same time. You can also connect to the same broker, using different plugin instances as you like @ReneTode does that. I connect to 4 different brokers at the same time with different levels of authentication.

Anyways what I meant was like in my case, I have some MQTT based

[2019-05-27 21:29] lociii commented on #411
@acockburn is 3.1.0 a typo or a still unreleased version?
I'm running 3.0.5 and this still happens to me. To be more precise, it happens when starting appdaemon and homeassistant docker containers at the same time. I guess some part of HA is not yet ready which AD relies on.

[2019-05-28 21:16] ReneTode commented on #505
nice that its configured through the frontend, but if there is no real connection we can hardly implement it.
an entity can! belong to a device, but how can i find a device in the rest API?
and how do i find an area in the rest API? and how can we find out to which area an entity belongs?

if i cant find any docs on how its used or setup, what services can be used with it, etc. how are we supposed

[2019-05-28 21:19] ReneTode commented on #411
3.1.0 is a typo
3.0.5 is the latest release.

and you are right that HA is not ready in some cases when AD starts. the solution for that is to delay the startup from AD.

[2019-05-28 21:29] ReneTode commented on #571
@freol35241 a connection to MQTT is a continious loop.
if you do that inside the app it keeps the app and so the thread from the app busy.

i connect indeed several times to the same plugin. in appdaemon.yaml i use:
[code]
we are working on an DB plugin, so that AD can remember the last state, but until then you could of course save the last retrieved payload in any way you like and retrieve that

[2019-05-28 21:39] ReneTode commented on #569
@noxhirsch things like that will be possible when we start to change the dashboard, but that can take a while.
at this moment its only possible by creating a custom widget for it.
allthough conditional cards are not really realistic, because it would the need to create 2(or more) widgets and hide all but 1 based on the state.

conditional layout is absolut there in the future (its already somewhat

[2019-05-28 21:52] lociii commented on #411
That would be a workaround, not a solution. A solution would be to handle that case in AD and retry in intervals.
One should never assume that an external dependency is ready.

[2019-05-29 05:57] foxy82 commented on #570
Thanks - I'm running on a pi zero so I only have one core. Creating my own loop also didn't seem to work very well.

I could achieve this using a standard python script so I might have to go that way but I like the way AD will reload things for me and keep it neat. Is there anyway to see the async work in progress or anyway you can see to change my app to use the threaded model?

I considered writ

[2019-05-29 16:14] ReneTode commented on #411
in AD 4.0 there is a solution.
AD wont depend on the HA time settings anymore.

i forgot you could also get around that by adding the timezone, elevation, langtitude and longtitude to the appdaemon.yaml as described in the docs.

checking if the external dependency is ready is up to the users. there are to many things that can be lagging in a program like HA.
we dont want to start checking if all

[2019-05-29 17:26] acockburn commented on #411
Just to clarify a little - 3.1.0 is the version I put some more code in to help with this problem, however we made the decision to skip 3.1 and go to 4.0. 4.0 is not yet released, but it is where those changes will be (currently in the dev version).

[2019-05-30 08:16] Odianosen25 commented on #570
Hello @foxy82,

I am of the view developing a plugin is your best option, as doing it within an app, will complicate things as stated by Andrew. Besides most of the API are not async friendly, so even if you get the data, wouldn't you want to pass the data to AD?

If you still insist on doing it this way, it might be still possible but it will mean using AD in such a way it wasn't exactly intended

[2019-05-30 20:11] acockburn commented on #570
I agree with @Odianosen25 - today your best bet is a plugin for this - there you will have full access to the main loop without hitting the locking issue. You can always revisit when we figure out async apps.

[2019-05-30 20:11] #570 closed

[2019-05-30 20:13] acockburn commented on #571
Closing this - hopefully we answered your questions.

[2019-05-30 20:13] #571 closed

[2019-05-30 20:16] acockburn commented on #507
What happens when you reload th admin gui? I think this is a cosmetic issue in the admin page rather than an issue with the callbacks actually being retained

[2019-05-30 20:17] acockburn commented on #507
I think this is a dupe of #499 so closing.

[2019-05-30 20:17] #507 closed

[2019-06-01 08:38] Kane610 commented on #505
The different paths for Areas and Devices (including how to list them) can be found under the config component
https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/config/area_registry.py
https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/config/device_registry.py

It is not only about using services, but they are also containers for di

[2019-06-02 15:37] foxy82 opened #575 "Can't call HASS functions from MQTT plugin?"
I have an MQTT plugin that when it receives a certain message it will call a service in HASS. HASS is the default plugin and mqtt namespace is "mqtt"

When I call this code:

`          self.call_service('remote/send_command',
               entity_id=self.harmony_hub,
               device=device_id,
               command=keycode,
               namespace='default')`

Gives this error:
`2019-06-

[2019-06-02 16:08] acockburn commented on #533
Fixed in dev

[2019-06-02 16:08] #533 closed

[2019-06-02 16:13] acockburn commented on #515
I'm unable to reproduce this - do yo uhave more info? What was the error when trying to restart AD?

[2019-06-02 16:16] acockburn commented on #511
Fixed in dev

[2019-06-02 16:16] #511 closed

[2019-06-02 16:42] Odianosen25 commented on #575
Hello @foxy82,

First what version of AD are you using?

Also can you confirm that `default` is the namespace for the HASS plugin?

Lastly if all you want to do is to listen to MQTT, then carry out a HASS service call. Might be better to do that in a HASS app, but depends on what version of AD u running.

Regards

[2019-06-02 16:44] foxy82 commented on #575
I was on 3.0.2 and then updated to 3.0.5 same issue on both.

In a HASS app can I do an mqtt subscribe?

[2019-06-02 17:38] Odianosen25 commented on #575
No you cannot use MQTT subscribe in the HASS app, but you can listen to MQTT events, then carry out a HASS service.

Apologies missed the fact u already stated the HASS was default.

Regards

[2019-06-03 15:29] ReneTode commented on #505
i asked for docs about them and how to implement them in an outside program (like AD) (or any kind of docs) and or how they are registered in the API.

and i already did understand that its another way of grouping. (nice and confusing for newbies in my eyes) for people like me that run HA for over 2 years i see no advantage.

on this point i am not even able to use it in the latest HA. (but thats

[2019-06-03 15:32] ReneTode commented on #575
the best way to listen to mqtt events is not to subscribe in the app but configure the plugin correctly(in appdaemon.yaml)
after that you can use listen_event in the app with the namespace you gave the plugin.

[2019-06-03 15:39] ReneTode commented on #515
create a syntaxerror in an app. save it. then restart AD.

in my case AD didnt startup untill i fixed the syntax error in the app.

[2019-06-04 00:18] acockburn commented on #515
I tried exactly that and had no issues. Are you able to reproduce it at will? Is there a specific app that caused the issue?

[2019-06-05 22:47] ReneTode commented on #515
i dont know anymore andrew.
the problem was 4 months ago. if you cant reproduce it, then close it.
i only had the situation 1 time, when i didnt notice a syntaxerror before i restarted.
normally i always check immediatly after saving an app.

if i have something simular again, or hear from anyone else something simular ill reopen.

[2019-06-05 23:04] ReneTode opened #576 "logging on the wrong places."
over time i noticed quite some things that get logged on the wrong places since i moved to dev.
mostly i ignored it but i think its important enough for an issue.

i will use this issue to add things that go to the wrong place.
ill update the list that i make here when i find something new (or someone else reports something) or when an update has been made to repair the "bug"

1) in dev: in termin

[2019-06-09 18:51] bbrendon opened #580 "add wait_template functionality"
I have some yaml automations using a single wait_template and some with multiple wait_templates in a row. It seems to be possible to code a single wait_template in appD but I started stacking them and the code in appD got very complicated and hard to follow.

Would it be possible to add a wait_template feature to appdaemon? I have a few automations that have 2-3 wait_templates in a row and migrati

[2019-06-09 21:47] Odianosen25 commented on #580
Hello @bbrendon,

Yeah understand what you want to do, and its been one of those things we been looking for ways to add. Presently due to the threaded nature of AD, having such a wait function, would block threads and will mess AD up.

To add these waits, some have found unique ways of doing it like @ReneTode, who uses a series of `run_in` if I am not wrong. But the main feature that is being work

[2019-06-10 10:21] ReneTode commented on #580
everything you can do with those scripts can be done with the existing functions from AD.

wait for a certain state -> listen_state -> do the stuff you want in a callback
wait for a certain time -> run_in -> do the stuff you want in a callback

you can use as much from those as you like in an app
for those basic scripts you probably not even need to get creative.
with things that you stacked, you

[2019-06-13 03:35] bbrendon commented on #580
To the point of complexity....

The appdaemon code and automation here are similar.  The main different is that the appdaemon one has some extra checks in the "set_say_yes_no" function.
https://gist.github.com/bbrendon/584ecac7dbdabae74a8c46656e5e8e59

I'm sure there is a better way but I haven't figure one out.

[2019-06-13 13:01] roflcoopter commented on #480
Getting the same error when trying to refresh the admin interface, which sadly makes it unusable.
Is there any workaround for this atm?

[2019-06-19 00:12] ReneTode commented on #480
yes, dont use dates or times in the yaml, but put quotes around them and when needed make a datetime object from it in your code

[2019-06-19 01:25] ReneTode commented on #580
i cant find anything in the docs about if the waits you placed in the automation are waits in the order that they are placed in, or that in this case both criteria need to be true.
but from your app i expect that both criteria need to be met.
so something like:
[code]
the problem is that even if we add a wait function it would be like:
self.wait(self.cb,entity,state)
and when the wait is over the

[2019-06-19 08:09] Odianosen25 commented on #580
@bbrendon,

I am sorry I didn't initially fully grasp what your intentions were, but based on what Rene said, you can easily achieve what you want using [custom constraints](https://appdaemon.readthedocs.io/en/latest/APPGUIDE.html#custom-constraints).

This way you can use the constraint which will grantee that the callback will not be fired, until the conditions have been met. So like using Rene'

[2019-06-19 17:15] bbrendon commented on #580
Thank you guys for the responses. I'm going to spend some time this weekend digesting your ideas.

[2019-06-19 21:23] jantman opened #581 "Apps fail to load on >= 3.0.2 - get_hass_config AttributeError"
I've been running AppDaemon 3.0.1 for about a year now, installed in a py3.5 virtualenv via pip. I just tried upgrading to 3.0.5 and a bunch of my apps failed to load, throwing a traceback for:

[code]

All of my apps and config (except secrets) are public, at: https://github.com/jantman/home-automation-configs/tree/master/appdaemon

The one thing that may be a clue here is that the apps that fail

[2019-06-20 11:32] ReneTode commented on #580
good suggestion @Odianosen25 didnt think of that way.
but i still think that if its that easy possible with a constraint, its also possible to add that.
we have all kind of constraints implemented, so why not add greater_then, smaller_then, etc.
or 1 where > and < can be given in a string.

we only need to check if its indeed a float or int. if not its gives an (user) error

[2019-06-20 11:37] ReneTode commented on #581
get_hass_config() changed to get_plugin_config("hass"), but its somehow lost to mention that in the docs.
its already taken care of in the dev docs. but docs are only updated when a new release is there.

[2019-06-20 12:19] jantman commented on #581
Ok, thanks so much for the info! Would it be possible to get this added to the changelog / release notes from the relevant release?

[2019-06-20 13:39] jantman commented on #581
For anyone who happens to find this issue... on 3.0.5 at least, it's ``self.get_plugin_config()`` not ``self.get_plugin_config("hass")``

[2019-06-20 21:34] ReneTode commented on #581
its actually
self.get_plugin_config(namespace = "the name from your namespace")
i used hass because my namespace for the hass plugin is hass
it defaults to the namespace that is set before the command

@Odianosen25 would you please add to the changelog that get_hass_config() has been changed to get_plugin_config() as a breaking change from 3.0.2

[2019-06-20 22:01] Odianosen25 commented on #581
This change wasn't supposed to enter the stable release if I am not wrong. But will do as requested

[2019-06-23 00:55] ReneTode commented on #581
i know, get_hass_config() should have stayed, and i am not sure, but i think Andrew restored it in dev.
but in the end its still broken in 3.0.5, so its better recorded as breaking change and when we go to AD 4 (and its restored) then add a remark that its added as repair.

over time i have had several questions about it, now its documented ;)

[2019-06-23 21:32] bbrendon commented on #580
I think I under what you two are doing. I think I can grasp the two examples fully if I spent time rewriting it.  It seems though wait_template in yaml is still way more elegant. It preserves order, pauses execution, has timeout overrides. Much more powerful and much easier.

Maybe my problem is that I think I should be able to pause execution and that's not how programming works.

Anyway. If I ev

[2019-06-23 22:16] ReneTode commented on #580
yeah thats what i expected, but you code doesnt.
if you want waits in order you need different programming, and way more simple.
more like:
[code]
that waits for entity1, untill that is done then it waits for entity2 then it runs cb_3
you can create an app like that and put all args in yaml, and you could even let it look like the wait from HA.
dont forget that what you do here in programming, is

[2019-06-25 12:51] dlashua opened #584 "KeyError: '[appName]'"
AppDaemon version: 3.0.5
Installed via Docker

Occasionally, I'll get an error like the following:
[code]

It happens in more than just this app, this is just the most recent example I have. Restarting the App (by editing the YAML and saving the file) fixes it every time. It's like AppDaemon isn't aware of the app at the time the callback is called, even though I've not made any recent modificatio

[2019-06-25 15:48] ReneTode commented on #584
it seems like you are initialising a schedule at the moment from the error.
to see what really is going on i need to see a complete app (py module and yaml that belongs to it)

and the complete error (including the lines before and after) like:
[code]
because the lines before often tell a lot.

[2019-06-25 19:43] Odianosen25 commented on #581
The breaking change has been noted. Will be closing this issue now if everyone is happy?

@jantman, please reopen is not satisfied with what has been done.

Regards

[2019-06-25 19:43] #581 closed

[2019-06-25 19:55] Odianosen25 commented on #580
Hello @bbrendon,

When asyncio apps has been developed, then possibly state constraint functions can be created, which can be used to do what you want.

Regards

[2019-06-25 19:56] Odianosen25 commented on #580
Apologies mistakenly closed it, instead of just commenting

[2019-06-25 19:57] Odianosen25 commented on #575
@foxy82,

I believe your issue has been fixed, closing this issue and please reopen if not satisfied.

Regards

[2019-06-25 19:57] #575 closed

[2019-06-27 13:21] dlashua commented on #584
It's difficult to show you all of the python module, because it's over multiple files and is a substantial amount of code.

However, I'll try to show you the bits that seem relevant and let me know if you need more.

Here are the full log lines before and after the warning (from a different app with the same issue, because it happened most recently):
[code]

You can see it's in a timer loop callin

[2019-06-27 13:25] dlashua commented on #584
Oh... and the YAML for nook_occupied is this:
[code]

[2019-06-27 20:30] dlashua opened #585 "Change one app, they all restart"
When I change the YAML for a single app and save the file, AppDaemon correctly detects the change, but incorrectly thinks that most (but not all) of my apps have changed as well:

[code]

[2019-06-27 20:36] dlashua commented on #585
Nevermind, I figured this one out.

[2019-06-27 20:36] #585 closed

[2019-06-27 20:51] challs commented on #517
Hi, I ran into this one as well. I can see that commit cef2722ae4914993d6810494406120068e3a723a already fixed it and is present on the `dev` branch. The fix allows you to specify the config directory as a relative path.

[2019-06-27 22:00] ReneTode commented on #584
at least it makes more sence now that you show more from the log.

[code]
this tells that the app is terminated. so obviously it isnt there anymore.
normally an app is only terminated when you change something in the module or yaml.

so the question is why the app is terminated at all.

i asked about the code, because a "normal" app is a seperate class inside a module, configured in the yaml.
a cl

[2019-06-28 11:03] dlashua commented on #584
I believe I've fixed this as well. Time will tell. To answer your questions...

The app was terminated because I changed the PY file that defines it.

And yes, this app is "normal" in that it has a class defined in a module configured in YAML, as is expected. It's less normal because the module "imports" several other modules containing reusable pieces (defined as "global_dependencies").

There we

[2019-06-29 01:30] ReneTode commented on #584
the only reason why global dependencies are in yaml is to make sure that when you change something to the yaml or the code from a global file, that the apps depending on it are also restarted.

i dont really use it at all.
i got 1 app that contains my global yaml settings (it has only an init that does nothing)
i can call my global settings with self.app_config["settings"]["whatever"]
global funct

[2019-06-29 13:58] lociii commented on #411
Even if this ticket is closed and the underlying issue will be fixed in 4.0 I just wanted to mention that adding all these vars to the config doesn't make a difference for me. Just in case anyone else is searching for a workaround - the proposed one isn't guaranteed to work :)

[2019-06-29 17:20] Kane610 commented on #505
Maybe this is better then? Most are simple endpoints that just allow a couple of different actions

https://developers.home-assistant.io/docs/en/device_registry_index.html
https://developers.home-assistant.io/docs/en/area_registry_index.html

[2019-06-30 20:50] ReneTode commented on #505
no. it explain how to use it in HA development.
but it still doesnt tell anything about rest API.

how can i know what devices belong to an area when i only have a browser?
like: http://localhost:8123/api/states/light.some_light gives me the state from light.some_light

[2019-06-30 20:58] ReneTode commented on #411
when you still have time errors, when the settings are set in appdaemon.yaml you probably have another problem.
for example when you have hass.io the settings will be overwritten when you dont set some other settings in the addon. or you might have set the settings the wrong way or on the wrong place.

when the right timesettings are set in appdaemon.yaml and the addon doesnt overwrite them, then

[2019-06-30 21:53] simonvanderveldt opened #586 "Get entity id from friendly_name"
Would it be possible to add a method to get the entity id using `friendly_name`?
This is the opposite of the `self.friendly_name(<entity_id>)` method.

[2019-06-30 21:59] acockburn commented on #586
You can write one yourself very easily by getting the whole state then looping through it. One issue is that there is no unique mapping of a friendly name to an entity as the same friendly name can be given to multiple entities.

[2019-07-01 09:59] ReneTode commented on #586
and if you want to use that function a lot then create an app like:
[code]
initialise the app in yaml and then in the app call it with:
[code]

and in your

[2019-07-18 04:51] TheAlphaLaw commented on #537
Would love to adjust the step on lights, 10% is too low for me.

[2019-07-19 07:00] rp3tya opened #596 "HADashboard script widget status"
The script widget toggles back when it is clicked even if the script is still running. The widget will show the correct status only if the dashboard is reloaded. Otherwise the widget shows wrong status and is unusable with long-running scripts (eg. those with hours of delays).

[2019-07-19 10:24] ReneTode commented on #596
there is no way to tell if a script is running or not. the widget sends a service call to HA and then it has done its job,
if you want to know if a script is running you could do the following:
add an input_boolean in HA
add an automation in HA (or use an app) that starts the script
at the end from the script set the input_boolean to off
use that input_boolean with an input_boolean or switch widge

[2019-07-28 12:02] rp3tya commented on #596
Ended up using a switch widget to achieve the desired effect.
Actually also HA uses different UI controls for different scripts: "Scripts in the Overview panel will be displayed with an EXECUTE button if the device has no delay: or wait: statement, and as a toggle switch if it has either of those."
The script widget is an execute button, while for long-running scripts a switch is more appropriate.

[2019-07-28 12:02] #596 closed

[2019-07-28 18:53] wasperen opened #598 "Google Calendar not triggering state change call-back"
Running latest versions.

I have a Google Calendar integration in Home Assistant. It has an entity_id of ```calendar.hass_calendar```. This entity correctly triggers a callback if I start listening to it.

The Google Calendar HA integration also has the ability to create separate "calendars", each with certain search terms. So, for instance, I have created a special calendar with entity_id ```cale

[2019-07-29 03:20] shbatm opened #599 "Duplicate pyyaml dependencies listed in setup.py causing error on install"
Duplicate `pyyaml` lines in `setup.py` are causing an error when installing `appdaemon` vial local pip because one is pinned at 5.1 and 5.1.1 has been released:

[code]

[Line 18](https://github.com/home-assistant/appdaemon/blob/7d5e5ce851c7fcb8e188d1855066d1d52acf79db/setup.py#L18)
[Line 22](https://github.com/home-assistant/appdaemon/blob/7d5e5ce851c7fcb8e188d1855066d1d52acf79db/setup.py#L22)

[2019-07-29 19:27] sriramsv opened #600 "Support GET requests in API endpoints"
Currently, the REST API endpoint only support a `POST` request to be made to them, I have a use case where I need to just to a GET to query some internal state I would like to maintain inside the appdaemon function context. Would be really useful if you could support GET and POST

[2019-07-30 05:31] Odianosen25 commented on #600
Hello @sriramsv,

In the next update, AD will be able to support GET by default over the REST API. You can check that now, using AD 4.0 in dev.

Regards

[2019-07-30 05:33] Odianosen25 commented on #599
Hello @shbatm,

Apologies abt this, will have that sorted.

Regards

[2019-07-30 05:38] Odianosen25 commented on #598
Hello @wasperen,

that is weird as all entities should be trigger-able in AD. I have a similar setup, and it works fine for me. Could you possible share your code?

Regards

[2019-07-30 05:39] #584 closed

[2019-07-30 05:40] Odianosen25 commented on #586
Closing this issue please, and @simonvanderveldt do reopen is any further questions arises.

[2019-07-30 05:40] #586 closed

[2019-07-30 05:58] wasperen commented on #598
Hey @Odianosen25

You could have a look here: https://github.com/wasperen/climatecontrol/blob/per-zone-calendar/appdaemon/apps/climatecontrol.py

W

[2019-07-30 13:10] ReneTode commented on #598
@wasperen  i got about 10 of those calendars myself, and they work fine.
[code]
but i dont listen to attribute changes, but use on/off for trigger, so that might be it.

but i see a possible cause of a problem (you should check your error log)
[code]
if attributes is not in new_state this will trow an error.
because the key attributes in new_state["attributes"] doesnt exist.
so split the if statem

[2019-07-30 14:12] wasperen commented on #598
Hey --Thanks for looking at this.Actually, the test will check if "attributes" is missing from new_state first. If that is True, the second part (after the or) will not be evaluated. This because of short-circuit or: https://docs.python.org/3/library/stdtypes.html#boolean-operations-and-or-notI need all for attributes, because I want to read the attribute "message" when it is triggered by a change

[2019-07-30 15:51] ReneTode commented on #598
hmm, i did test and i stand corrected, i wonder in what cases i got type errors then.

[2019-07-30 19:07] simonvanderveldt commented on #586
@Odianosen25 Thanks for the reminder.
In the end I used this, I only have 1:1 relationships between friendly name and entities, so this works fine.
[code]

I do think it would be nice to have a convenience function for this, but I can also understand the desire to keep the codebase small.

Thanks for the pointers @acockburn and @ReneTode !

[2019-08-05 20:32] dcolley commented on #282
how about an "action | on_click | on_tab" declaration

[code]

[2019-08-05 22:27] ReneTode commented on #282
the plan is to have predefined javascripts that can be assigned to possible widget actions.
so you can assign longpres(double click)s to navigate and short press(single click) to change a light switch. or swipe to a color change.

the javascripts will have the same as custom widgets. they can be designed by everyone, but there will be a lot of predefined actions.

the trouble is that we only start

[2019-08-06 09:10] wasperen commented on #598
taking a different approach now. reading the calendar myself (through the HA API) and scheduling thermostats and boiler status through that. (if you care, have a look here: https://github.com/wasperen/climatecontrol)

[2019-08-06 09:10] #598 closed

[2019-08-06 20:43] Odianosen25 commented on #599
Fixed now so closing

[2019-08-06 20:43] #599 closed

[2019-08-06 20:43] Odianosen25 commented on #600
I will be closing this @sriramsv, kindly reopen is still needed.

Kind regards

[2019-08-06 20:43] #600 closed

[2019-08-08 05:03] wasperen commented on #598
Hey Rene,

Thanks for the advice.

Although I agree with limiting PoFs, I have decided against reading from the Google API directly. In case HA fails I have a bigger problem. Even with the climate control, as I am reading and directing the thermostats and boiler through HA... The calendar API of HA is convenient.

I do an update of my temperature set-point map from the calendar every ten minutes.

[2019-08-10 19:46] acockburn commented on #515
OK :)

[2019-08-10 19:46] #515 closed

[2019-08-10 19:55] acockburn commented on #488
The problem is that there was an exception in the exception, not incorrect log placement, so logging this to the main log was correct behavior. However, I am not sure how the exception in the exception happened. Can you easily reproduce this?

[2019-08-10 20:14] Odianosen25 commented on #488
Yes it is to easily produce, as when there is a syntax error in an apps, it is shown both in the error log and main log. So that's the headache.

Regards

[2019-08-11 20:43] ZzetT commented on #512
Is this really fixed?

I'm using AppDaemon 4.0.2 so this fix should be already included.

However, if try the following:
[code]

and trigger the motion, I see the following in the logs (the sensor stays on for two minutes):

[code]

As soon as I add
[code]
I see it only once. Also if I use an HA automation, I only see it once in the log so the sensor shouldn't be the problem here.

[2019-08-12 06:42] Odianosen25 commented on #512
Hello @ZzetT,

Yes this has been fixed and you can't be using a `4.0.2` as AD 4.0 hasn't been released, and its still in dev as `4.0.0b1`. So please confirm the version you using, as if you still in `3.` its not fixed there.

Kind regards

[2019-08-12 07:27] ZzetT commented on #512
@Odianosen25  Sorry for the confusion. I'm using this HA addon https://github.com/hassio-addons/addon-appdaemon3 which is version 4.0.2 but uses version 3.0.5 of appdaemon.

There I can observe the above mentioned problem.

[2019-08-12 07:36] Odianosen25 commented on #512
Hello @ZzetT,

If that is the case, then no its not fixed in 3.0.5. You will have to wait for AD 4.0 to be released I a afraid. In there its definitely fixed.

Kind regards

[2019-08-13 12:32] PremiumUsername opened #618 "callback filtering with custom attributes"
I know that you can limit how often some callbacks are called by filtering with attributes. The problem is, while HA allows you to create custom attributes with:

customize.yaml:
[code]

...it does not propagate those attributes when it then fires events. So I can't use them to filter callbacks. in order to use them, all I can do is to stop a callback early with:

ad_app.py
[code]

If AD was made

[2019-08-13 15:27] ReneTode commented on #618
why use listen_event at all?
just use:
[code]
by the way a callback for an event should be:
[code]
and not *args

[2019-08-13 17:46] PremiumUsername commented on #618
I'm not sure I understand you. I have several input_selects that I would like the callback to listen to (just not all), so "input_select.the_one_you_use" wouldn't work.  I could make one callback for each of course but that is not what I was trying to do.

In my case I got different input_select menus in the HA front end that control different blinds, but they all use the same AD app.

I'm not qui

[2019-08-13 18:03] PremiumUsername commented on #618
I missed the special meaning of `attribute="event_type"` in my response to your comment. That attribute would never change in my case so I'm not sure how that would help (further more AD does not see custom attributes when HA fires an event. It has to poll it itself as far I can see).

[2019-08-13 18:51] PremiumUsername commented on #618
I realize now that `listen_event` was a poor choice on my part. When I monitored the logs, that's what I saw so I went with that (I didn't know that UI part's were entities too).

I've tested your code and it does work in filtering callbacks. So this is indeed a solution. It does, however, seem like a convoluted solution to monitor an attribute that never changes for changes. It does work, but to

[2019-08-13 23:34] ReneTode commented on #618
when the attribute never changes, then how would you get a response, and why would you want to listen to it?

hmm, i think now i get what you tried to do.
you listen to all input_select changes and want only the one with the attribute rollerblinds

and i forgot about the bug in AD 3.0.5 that has to do with attributes.

but in your case, just listening to your input_select (instead of listening to

[2019-08-14 06:53] PremiumUsername commented on #618
Yes, this is corrects.

That would work, but it wasn't what I wanted to do. It seems a bit cumbersome if you have many entities you need to include in the filter.

My listen_event is working just fine, but I agree that I should have used listen_state instead, so I didn't have to fish the entity out of the subdic. My feature suggestion is a much better fit for listen_state, so  let's forget about l

[2019-08-14 08:15] ReneTode commented on #618
to filter callbacks we have constraints.
in this case you want a custom constraint, that checks if an certain attribute has a certain value.
https://appdaemon.readthedocs.io/en/latest/APPGUIDE.html#callback-constraints

so the option exists, only in another way you were looking for.

[2019-08-14 11:46] PremiumUsername commented on #618
I'm sorry. I can't see that option. I see:

input_boolean
input_select
presence
time

How do you use a certain attribute for a constraint?

[2019-08-14 12:00] ReneTode commented on #618
custom constraint.
https://appdaemon.readthedocs.io/en/latest/APPGUIDE.html#custom-constraints

[2019-08-14 12:31] PremiumUsername commented on #618
Maybe I'm missing something but all those constraint including the custom ones are general in nature. So I can't see how you could use a custom constraint to check the attribute of only the entity that activated the callback filtering function.

[2019-08-14 13:07] ReneTode commented on #618
with a custom constraint you create a function that gives back true or false based on the given input.
by adding a listen_state for all input_selects (which you can get with get_state before the callback) in a for loop you know which entity you are listening to, so you can give that same entity in your constraint input.
so the initialise would become something like:

[code]
and you would have a fu

[2019-08-14 13:23] PremiumUsername commented on #618
Yes, but then why would I need to filter with constrain? I could just use get.state to exclude the ones I don't want. Much like I do now, only after the callback.

[2019-08-14 13:26] ReneTode commented on #618
because that way the callback wont even be started.
all a matter of choices. but in AD 4 you will see the difference between a callback that is returned inside the callback and a callback that is never fired.

we are working on other default constraints also, but i dont think it will be one like you would need.

[2019-08-14 13:33] PremiumUsername commented on #618
My point was that if you were just to make a loop to discover ahead of time what entities should have callbacks based on the custom attribute, you would not need to bother with the constrain. No false callbacks would be made in that case.

In any case there are many ways to solve this. I'm looking forward to see what you come up with in AD 4.

[2019-08-14 13:52] PremiumUsername commented on #618
One possible additional advantage with using a custom attribute is that it would be very easy to alter from one AD app what entities would be included in future callbacks for that AD app or any other. Say that I want to exclude some entities from future callbacks for some reason, then you could only use set.state for those and change that attribute.

[2019-08-14 15:39] ReneTode commented on #618
you are right.
selecting before gets rid of the need for the constraint. allthough the constraint could get have other options as well.
indeed for everything are several ways to go.

and i know the advantage from custom attributes. i use them mostly on sensors though, because when you do set them in HA, you need to restart HA every time you add or change something, and adding attributes from withi

[2019-08-14 16:23] PremiumUsername commented on #618
Yes, I've noticed that. I haven't actually tried changing an custom attribute created in HA from AD. Maybe HA will just reset it the first opportunity it gets.  Hopefully HA will be more accommodating to AD created entities and attributes in the future.

[2019-08-14 19:24] ReneTode commented on #618
dont count on it. i deal with that problem for over 2 years now.
the better way is to just create entities with AD. those dont get overwritten.

[2019-08-15 02:36] bbrendon commented on #540
I saw this too and wasn't able to figure it out exactly. Is it the same as the posted issue?

[code]

[2019-08-19 12:49] acockburn commented on #576
Per our dicsussions - closing this. Some fixed, some are a work in progrerss

[2019-08-19 12:49] #576 closed

[2019-08-19 12:51] acockburn commented on #498
Should be fixed now

[2019-08-19 12:51] #498 closed

[2019-08-19 12:51] acockburn commented on #490
SHould be fixed now

[2019-08-19 12:51] #490 closed

[2019-08-20 13:59] dlashua opened #630 "pin_thread in listen_state()"
This test code:
[code]

The callback never fires and no error is logged.

[2019-08-21 13:30] Odianosen25 commented on #630
This has been merged @dlashua, so fixed.

[2019-08-21 13:30] #630 closed

[2019-08-21 19:26] MrGravgaard opened #632 "Feature Request: Change Navigate widget on binary sensor change"
It would be great if you could alert the user that something is important on a dashboard by flashing og changing the layour of the navigation button.

The trigger should be a binary_sensor. When on/true, the Navigation Widget changes its styling to :

icon_alert
widget_alert_style
title_alert_style
title2_alert_style
icon_alert_style

When the binary_sensor is returning to off/false the layout /st

[2019-08-21 19:30] MrGravgaard opened #633 "Feature Request: Dashboard navigate link on an iFrame"
It would be great if it was possible to click on an iFrame the change to another dashboard.

By adding an "navigation" setting along with the "return" and "timeout" setting from Navitation, it would be possible to change to another dashboard when the iframe is clicked.

Best regards,
Christian Gravgaard

[2019-08-21 20:02] ReneTode commented on #633
after the release from AD 4 we are going to work on upgrading dashboard.
1 of the things we plan to do is give every widgettype options like navigate and longpress(doubleclick).

[2019-08-21 20:06] ReneTode commented on #632
this would be a very complicated widget and the user needs to create complicated settings.
i dont think this will be something we will create as default option, but you are very welcome to create your own custom widget for that.

[2019-08-21 20:08] MYeager1967 opened #634 "Installation issue..."
I have this nstalled in a docker container but it never connects to my HA installation. I'm searching for the solution but I'm hoping someone can help quickly. I get a message that it's retrying every 5 seconds...

[2019-08-21 20:34] #634 closed

[2019-08-28 13:58] wsw70 opened #643 "502 Bad Gateway when proxifying the dashboard"
I am trying to proxify the dockerized AppDaemon dashboard. The following configuration (docker-compose) works fine:

[code]

This is the direct (not proxified) version which works via `http://appdaemon.mydomain:5050`.

I use `caddy` as a proxy to all my dockerized web services (about 20 of them), by turning the section above to

[code]

In that case no ports are exposed and access to port `5050` o

[2019-08-28 20:17] ReneTode opened #646 "warning in terminal screen"
when running the latest dev version i get

[code]
in the terminal when i start AD.

[2019-08-28 20:22] ReneTode commented on #643
AD is designed only to use in home environments.
so no attention is payed to how AD reacts to proxy servers.

when we have released AD 4 (this friday) we will start on working on upgrading dashboard.
if that problem still exists in AD 4, we will pay attention to it then.

[2019-08-29 09:37] wsw70 commented on #643
Great, thank you. Even though I do not currently use the AD dashboard (I built my own) I would be glad to help with the reverse proxy.

Reverse proxy in a docker context has arose quite a bit thanks to `traefik` (and others servers dynamically adding containers to their reverse proxy configuration - such as `caddy`in my case).

Do you plan to also update the docker image on Docker Hub on Friday?

[2019-08-29 10:10] ReneTode commented on #643
we will release a beta on friday, i am not sure, but i think that a docker for that is also planned (sorry no docker user ;) so i dont really pay attention to that)
i think Andrew does that automaticly with a release.

you dont use dashboard (and if you build your own, you probably dont want to), but run into proxy trouble?

[2019-08-29 10:26] wsw70 commented on #643
I am an on-off user of AppDaemon. I started two years ago, moved to HA automations, realized that they are painful, came back to AppDaemon and finally wrote my own automation program.

All this because I had delays between "pressing a button on the wall" and "having the light switched on". I thought that this may be due to delays introduced by the various automation layers but the whole thing is v

[2019-08-29 12:44] ReneTode commented on #643
thx for clarifying, and welcome back ;)
testing AD is extremely hard because of the way its build.

AD is great because its not just any other python package.
any help is always welcome, but the best way to talk to us in on our discord server.
https://discord.gg/pHsjADY

we always react there pretty fast, and there are more people reading a conversation there then here ;)

lagging from lights can

[2019-08-29 14:15] dlashua commented on #643
@wsw70 I can't be certain as I've been running AD4 dev version for some time now, but I think you can leave DASH_URL=http://appdaemon.mydomain:5050 despite using the proxy. I'm pretty sure the port number in this string is used to know which port to listen on (regardless of whether that's a public port, a host port, or a container port).

[2019-09-01 01:24] bachya opened #652 "4.0.0b1 bug: Unexpected error in JSON conversion"
I'm seeing the following in my logs when several instances of the same automation – which toggles a switch on/off – execute at the same time:

[code]

[2019-09-01 18:52] acockburn commented on #652
Lets try to get some more info - this is related to the new Admin UI.

Can you reproduce the problem with module level debug for the stream cvomnponent please?

Add this to the AD command line:

`-m _stream DEBUG`

[2019-09-02 05:17] JZ-SmartThings commented on #434
@acockburn sorry to bug you but I was wondering if socksjs ever made its way into your official releases?
Thanks!

[2019-09-03 15:36] acockburn commented on #499
This shjould now be fixed in dev.

[2019-09-03 15:36] #499 closed

[2019-09-03 16:32] acockburn commented on #434
Hi there - it's been a while since we had an official release ;) We are currently in beta for 4.0 and it's my intention to get this in before we release 4.0 final.

[2019-09-03 18:23] JZ-SmartThings commented on #434
I was using the word official loosely :) appreciate the response and the effort @acockburn !!!

[2019-09-04 05:40] efficiosoft commented on #462
Hi @acockburn

Is there any progress on the callback signature validation? Do I now have the option to turn it off?

[2019-09-04 19:47] acockburn commented on #488
This might be fixed in the latest dev - can you re-test please?

[2019-09-06 12:04] martinwahlstrom opened #659 "text_style parameter on label widget doesn't work"
Exactly same issue as in #138
AppDaemon add-on 4.0.3 on Hass.io on R-Pi.
  Martin/

[2019-09-06 18:41] acockburn commented on #488
Closing pending re-test

[2019-09-06 18:41] #488 closed

[2019-09-06 18:45] acockburn commented on #652
Have you seen this again with the debug on?

[2019-09-06 19:59] bachya commented on #652
So strange: I actually haven't seen it reoccur. I had to revert back to AD 3.x because [this issue](https://github.com/home-assistant/appdaemon/issues/462) affects several of my apps, but once I can get 4.0.0bx back on there, I will stay on the lookout.

[2019-09-06 20:46] acockburn commented on #646
Fixed in dev

[2019-09-06 20:46] #646 closed

[2019-09-06 20:47] acockburn commented on #506
This should be addresses by the new camera widget

[2019-09-06 20:47] #506 closed

[2019-09-06 20:50] acockburn commented on #462
Not yet - we are busy working on the beta but I want to get this in before we release the next official version

[2019-09-06 20:56] acockburn commented on #434
FYI - tracking the SocksJS issue in #469

[2019-09-06 21:26] JZ-SmartThings commented on #469
THANK YOU!!!

[2019-09-07 07:57] efficiosoft commented on #462
Ah, great.

One more legal use case I noticed is blocked by this validation is this:

    def app_member(self):
        def handler(kwargs):
            pass
        self.run_every(handler, 30)

`handler` obviously has no `self` in this case and thus fails validation.

[2019-09-07 08:07] efficiosoft commented on #462
Also keep in mind that signature inspection at every call is computationally expensive. Maybe move it to callback registration time and issue the warning there?

Or, even better:

[code]

This way you only do the computation in case the invocation failed and don't even need to allow for disabling it.

[2019-09-07 14:52] ReneTode commented on #659
you need to use value_style.
docs are wrong, i will correct that.

[2019-09-08 14:29] acockburn commented on #652
OK cool - we should get that fix in before the end of beta. I'll close this for now but please re-open if you see the issue again.

[2019-09-08 14:29] #652 closed

[2019-09-11 20:38] runningman84 opened #666 "Invalid Service Name: shell_command"
I get an error if I try to run this code:
[code]

What is wrong here? In the hass gui I can call the shell_command just fine....
[code]

[2019-09-11 20:51] ReneTode commented on #666
in appdaemon call_service all dots are replaced by a /
so it should be
[code]

[2019-09-11 20:51] acockburn commented on #666
The name of your service should be "shell_command/cleanup_old_camera_images"

[2019-09-11 20:52] acockburn commented on #666
@ReneTode beat me to it ;)

[2019-09-11 23:29] sriramsv opened #667 "Add support for getting shopping list from HA"
HA has an inbuilt shopping list which can be queried using the HA api.
I would like to have a method `get_shopping_list` which can be used in automations in AD.

[2019-09-12 01:19] ReneTode commented on #667
do you have an url how you can query that list?

[2019-09-12 02:50] dlashua commented on #667
@sriramsv Sadly, Home Assistant has not provided documentation for this API (neither the REST API nor the Websocket API) and pieces of it are not accessible via Home Assistant States/Services/Events.

That being said, you should still be able to call "shopping_list/add_item" and "shopping_list/complete_item" via AppDaemon's "call_service" method, though I've not tested this as I don't use the Shop

[2019-09-12 12:09] MYeager1967 opened #669 "Timestamps"
I've probably missed it in the docs, but is there a way to convert a timestamp back to a datetime object or string? I've figured how to get a timestamp of the current time but I need to be able to convert an existing datetime string to a timestamp, modify it and convert it back to a datetime string. This is for use in an irrigation system for both a rain sensor and the actual running of the zone v

[2019-09-12 18:29] dlashua opened #671 "Callback Clean Up issue"
AD Version: PR# 670, though, I don't see why this wouldn't happen in "dev" branch as well.

When terminating a VERY busy App with lots of callbacks, I see the following error:
[code]

test.py
[code]

test.yaml
[code]

[2019-09-12 20:42] marchingphoenix opened #672 "TypeError when using self.now_is_between()"
# Summary
Hey Team. While attempting to use `self.now_is_between()` I am receiving an un-expected Exception. Any insight would be appreciated.

# Environment Details
Component | Version
--- | ---
AppDaemon Version | 3.0.5
Install Method | Docker:latest
Python Version | 3.6

# Traceback
[code]
# Class Snippet
[code]
# App Def Snippet
[code]

[2019-09-12 23:25] #672 closed, assigned to nobody

[2019-09-13 12:03] ReneTode commented on #672
so you did hide your problem ;)
i dont think its cleaner, because it wont return the error ;)

[2019-09-13 22:33] sriramsv commented on #667
well, the answer is ease of maintenance and making AD more feature rich. There is a lot of stuff you can automate, make HA send you a telegram message whenever you are entering the grocery store is so convenient.

[2019-09-13 22:41] sriramsv opened #674 "Make state callbacks filter out value"
@acockburn
@ReneTode
Currently, the  listen_state is defined as

[code]
Want the method to take in a value parameter, where a callback can be directly called when the value is the specified value. Something like

[code]

This will make code more loosely coupled than existing ways as currently the old way to that is

[code]
It will be much simpler if we could have something like
[code]

[2019-09-14 00:42] ReneTode commented on #674
mabe you should read the docs a bit more.

import appdaemon.plugins.hass.hassapi as hass

[code]
does exactly what you want ;)

[2019-09-14 01:08] ReneTode commented on #667
but the question is if the path that HA did chose is the right one ;)

like i said, there are other and in my eyes better ways to maintain something like that.
AD is not always better of by following HA, sometimes its better to give an alternative.

and i think you can have an alternative without making use of the HA shoppinglist.
which would probably better fit the AD way.

and i am not sure if i

[2019-09-14 06:35] sriramsv commented on #674
Wow!, I have gone through the doc so many times, didn't catch my eye. :+1:
Thanks a lot @ReneTode

[2019-09-14 06:35] #674 closed

[2019-09-14 10:32] ReneTode commented on #674
@sriramsv check out all different options on listen_state:
https://appdaemon.readthedocs.io/en/latest/AD_API_REFERENCE.html#listen-state
attribute, new, old, duration, immediate and oneshot.

you can do a lot with them.

[2019-09-14 13:04] dlashua commented on #667
@sriramsv What is this?
[code]

Regardless, it looks like you've cooked up a nice implementation of this. We'll leave it to andrew if he wants this API to be exposed in AppDaemon. If so, your app is a great starting point.

And, I've always wanted a shopping list in Home Assistant/App Daemon. Ideally one that integrates with Todoist, since that's what I use normally. But, even for that, this is a

[2019-09-14 17:52] #669 closed

[2019-09-14 17:58] ReneTode commented on #667
@dlashua why dont you use an input_select if you want a shopping list.
a list is a list isnt it?
or an input_text containing the list?
or just any python list.

[2019-09-14 18:04] sriramsv commented on #667
@dlashua  That is my implementation of the dialogflow webhook to NLP.
Whenever an intent is matched, AD will look for a callback attached to that intent and execute it and send response back to dialogflow.  I have hooked up both my own bot in Google Assistant and also telegram so that I can directly execute AD code by voice :P.

[2019-09-14 19:02] acockburn commented on #494
OK, I fixed the AUI to show the increasing Q size and I added info to the error message:

`2019-09-14 14:58:37.536835 WARNING AppDaemon: Queue size for thread thread-2 is 498, callback is 'run_every_c() in schedule' called at 2019-09-14 14:50:19-04:00 - possible thread starvation`

I don;t think removing the warning fro the log is a good idea, it is likely to be missed but you can tune the frequen

[2019-09-14 19:02] #494 closed

[2019-09-14 19:10] acockburn commented on #481
Hi Rene - I can;t reproduce this, have you seen it recently?

In your 2nd example above, what is `sensor.log_transport`?

[2019-09-14 19:24] #532 closed

[2019-09-14 19:33] acockburn commented on #480
I've had a look at fixing this and come to the conclusion that it's not worth the effort when you can just quote your time as a string and convert it in the app. Placing non-JSON serializable objects into entities will just break stuff all over appdaemon.

[2019-09-14 19:37] acockburn commented on #671
When you say terminating - how did you terminate it?

[2019-09-14 20:35] Odianosen25 commented on #671
I think I have seen this before, like if the app was to simply restart, this issue could show up

[2019-09-14 23:56] ReneTode commented on #480
@acockburn i wouldnt suggest Placing non-JSON serializable objects into entities
i would suggest that in AD the yaml is checked before its added to an entity.
or add to the docs with BIG CAPITALS, datetime in yaml must be in qoutes always or you break AD completely!!
make sure its converted to a string so people wont break AD, and dont know why.

[2019-09-14 23:58] ReneTode commented on #481
just a sensor i used to transport logs from 1 AD to another, so i would get 1 big log for several AD versions.
i have closed that attempt months ago, because it didnt work.

[2019-09-15 07:31] efficiosoft opened #676 "Feature Request: App-local data storage"
Hi,

I'm not sure whether this is planned for 4.0 and, even if so, whether you already implemented it, but I'd like to have an uniform way to store app-specific data, probably best as a persistent key-value store.

If desired, I could provide a thread-safe implementation using Python's `shelve` with an API like this:

[code]

On app shutdown, AD would just close the store if it has been opened, no

[2019-09-15 08:05] Odianosen25 commented on #676
@efficiosoft,

This has already been implemented in AD 4.0. AD now has the ability to define [user defined namespaces](https://github.com/home-assistant/appdaemon/blob/4.0.0b1/docs/CONFIGURE.rst#advanced-appdaemon-configuration). These are namespaces, not tied to any plugin and can be used as desired. it can also be set such that when data is stored there, it saves into file the present state (dep

[2019-09-15 08:14] efficiosoft commented on #676
@Odianosen25 Interesting, thanks. I guess the entities are serialized as JSON?

[2019-09-15 08:39] Odianosen25 commented on #676
You welcome @efficiosoft,

Yes they are. So data that has issues with serialisation cannot be stored in there.

[2019-09-15 08:40] Odianosen25 commented on #676
Please close the issue when you satisfied.

Thanks

[2019-09-15 08:43] ReneTode commented on #676
@efficiosoft i also found this:
https://appdaemon.readthedocs.io/en/dev/AD_API_REFERENCE.html#appdaemon.adapi.ADAPI.save_namespace

and you might not know it but it can be helpfull for you, we now got an index in the docs:
https://appdaemon.readthedocs.io/en/dev/AD_INDEX.html#s

[2019-09-15 08:45] efficiosoft commented on #676
Ok, I still think it would be useful to have a kind of implicit per-app namespace that can be used to store internal state, especially when using third-party apps as-is. Do you think that's feasible?

[2019-09-15 08:49] efficiosoft commented on #676
@ReneTode Thanks for the links. I indeed only saw the stable versions built on rtfd.

[2019-09-15 08:50] ReneTode commented on #676
you can create a namespace for each app.
at this moment that isnt as easy as it should be,
but we are working on create_namepace and delete_namespace.
it should be there before we leave beta.

so then you can create namespace in an app and save it on terminate.

[2019-09-15 08:54] efficiosoft commented on #676
I think it would be good to not require people to configure some internal detail (like correctly named namespaces) just to be able to use a pre-built app, so a way to move this responsibility to the app developer would indeed be desirable.

[2019-09-15 08:58] ReneTode commented on #676
you could already save the data yourself as app developer, but now we will have the options as predefined functions.

[2019-09-15 08:58] efficiosoft commented on #676
@Odianosen25 BTW, can't we simply configure the default namespace (so let's say that used by the hass plugin) to be persistent and just have persistent states for all entities that way?

[2019-09-15 09:07] efficiosoft commented on #676
Of course a full JSON dump at every state change would not be desirable in terms of performance and flash wearout, but when simply using a `Shelf` instead of the plain dict to represent custom namespaces, this wouldn't be a problem, and with `writeback=True`, we not even have performance hits... sounds like a considerable alternative to me.

[2019-09-15 09:09] ReneTode commented on #676
yes that should be possible odia. for instance the mqtt namespace should have that :P

[2019-09-15 09:11] efficiosoft commented on #676
If you want, I can make a PR that uses `Shelf` for all user-defined namespaces and still supports the current writeback strategies.

[2019-09-15 09:12] ReneTode commented on #676
but @efficiosoft it wouldnt be very helpfull for hass.
you would need to save all data from hass locally, and the second the plugin connects to hass it gets all retrieved from hass.
that would be a bad idea for saving the single entities you create in AD.
in that case better use local namespace and also send to hass.

[2019-09-15 09:14] efficiosoft commented on #676
@ReneTode That single replacement operation is cheap, and with the performance strategy it iss only done in memory.

[2019-09-15 09:14] Odianosen25 commented on #676
No we can't now, but really its something that can be built in, but honestly I don't think its a good idea as I had looked into it before.

Messing around with the namespace by the plugin, is something to be avoided, and that was why the user defined ones were created. If we do that, it could lead to messed up data. As the plugin is supposed to get its state from the remote program it is communica

[2019-09-15 09:15] ReneTode commented on #676
@efficiosoft on the HA forum you say that it should be in AD, because not every user would do it the same.
now we say we got/create the option and you want to change it to shelve?

you yourself didnt use it because you rather have it developed by an architect ;)

[2019-09-15 09:20] efficiosoft commented on #676
@ReneTode Wait, we're going to misunderstand each other. I was saying I'm against letting each app developer implement his own file store/load mechanism because that, especially considering the threaded architecture of AD, can lead to some issues and I'd rather have a single, well architected mechanism for storing custom data. Such a mechanism can of course be the namespaces concept.

I thought ab

[2019-09-15 09:25] Odianosen25 commented on #676
On using shelf @efficiosoft,

I used to use shelf to store data, but as you know it can't be read without using another software to read it, which is very annoying. That is one of the reasons using `json` as we have it now I think is better. Added to the fact I believe shelving is slower, compared to using plain json.

Regards

[2019-09-15 09:30] ReneTode commented on #676
and thats what i mean.
the "architects" are creating a way they seam best and use json dumps. and you want to change that to shelve.

but like i said on the forum, people can do it the way they like, as they always have and always will.
and we have created/ are developing a way that does what you want. saving by AD.

we are still working on it and all the things you said are already in our minds t

[2019-09-15 09:34] efficiosoft commented on #676
@Odianosen25 Shelve's performance depends on the usage pattern. Especially disk access is a lot better when you do only small updates to the whole, potentially larger, dataset, which is why I think it's appropriate for keeping a whole plugin namespace in sync (that was just an idea without knowing too much about the internals of AD, you're the expert in this domain). Its API is also very friendly,

[2019-09-15 09:41] efficiosoft commented on #676
Really? We're discussing potential improvements here (at least that's what I came here for). If you don't appreciate people throwing their ideas and experience in, just point that out and ignore the conversation.

Sure they can with a turing-complete language like Python ;)
And nevertheless: Simple is better than complex.

[2019-09-15 09:53] Odianosen25 commented on #676
@efficiosoft,

Lols I am in no way close to being an expert, maybe an expert at twisting @acockburn's hands for a feature, that others end up using and asking him for why he did it that way. So some of what I am telling you, are what Andrew had told me before when I queried him.

I don't think he will be adverse to having the optional `shelf`, and make it user configurable. So you could add it, an

[2019-09-15 10:00] efficiosoft commented on #676
I explicitly didn't mention the ability to store deepcopy-able objects because I thought the serialization constraints of JSON where there to stay REST-API compatible, but sure, that's another benefit. Anyway, IMHO there shouldn't be two parallel implementation for the same thing, and if you weigh JSON's readability more than the easier handling and random accesses possible by shelve, than that's

[2019-09-15 10:46] ReneTode commented on #676
i really dont understand you robert.

i: you could save your sensors
you: no dont want to do it myself it should be created by AD because its complicated
i: AD is providing an option
you: ill create an issue anyway
odia: the option is there
i: and it will be expanded
you: thats not how i want it, ill create it myself anyway.

then why this whole discussion? you could have done that in the first pl

[2019-09-15 11:25] efficiosoft commented on #676
Wrong, you said you think something like that may come with 4.0, but you aren't sure. That's why I said I'll create an issue and asked if it's planned or not.

Never said that.

Honestly, what has been said so far makes it in no way clear that all drawbacks of the chosen approach have been recognized. I mentioned some, you weren't able to respond in a technically qualified manner and instead try t

[2019-09-15 12:00] dlashua commented on #676
@efficiosoft I do like the idea of having an app-based storage space. regardless of how that data is stored (json, pickle, shelf, etc).

I do this already by creating a user-defined name space (say, called appstore) and then having my apps do this:
[code]

Then, to retrieve, I use:
[code]

I use it to "freeze" the state of an app at various times during its life-cycle. Outside of the configuration

[2019-09-15 12:01] ReneTode commented on #676
i just have a different view, and in a lot of cases a different opinion.
i am not easyly convinced that something is better, if there are already other ways.
and i am always the opinion that there are several good possibilities (as wel as bad)

see it like this: in a discussion with me dont try to convince me why something is better, but provide options to think about. there are more people readin

[2019-09-15 12:08] dlashua commented on #671
@acockburn I commented the app out of YAML and saved the file.

[2019-09-15 12:15] dlashua commented on #462
@acockburn if it helps any, this bit me too. I had lots of callbacks just using (self, *args, **kwargs) mostly because I could never remember the parameters and I wasn't going to use the data in my callback anyway.

[2019-09-15 12:15] efficiosoft commented on #676
@dlashua

I think each app instance should have its own datastore to have the flexibility of using different writeback strategies. But with the upcoming dynamic namespace creation, this should become easy. We just need conventions for names so that app namespaces don't conflict. Maybe provide a new app attribute `app_namespace = "app_%s" % self.name`? One can then use

    self.get_state("foo.bar"

[2019-09-15 12:35] dlashua commented on #676
When apps create namespaces, namespace conflicts quickly become an issue. This is the reason I suggested creating a single namespace to hold all persistent app data -- fewer namespaces means a conflict is less likely. But, you're right, the writeback strategy would have to affect all or nothing. Though, if handled internally with exposed API calls, I imagine the internal namespace writeback strate

[2019-09-15 12:37] dlashua commented on #667
@sriramsv that sounds interesting! I'd love to see that code if you have the time to put it up on github somewhere. It could be very useful.

[2019-09-15 12:39] efficiosoft commented on #676
That could be prevented by using a fixed prefix (e.g. `app_`) and not allowing to create user-specific namespaces with that prefix.

[2019-09-15 12:41] efficiosoft commented on #676
Also, not every app will need a datastore, hence I'd suggest still having to create it explicitly in `initialize()` using the regular API that's going to be added anyway (e.g. `self.create_namespace(self.app_namespace, writeback="hybrid")`).

[2019-09-15 12:42] dlashua commented on #667
@ReneTode speaking about Home Assistant alone, input_select doesn't work well because adding items to that list after HA has started get weird. An input_text could certainly work though, in Home Assistant alone, that gets tedious to manage without a custom_component (at which point I would no longer need to use an input_text). A Python list would work just fine if implemented in AppDaemon (it woul

[2019-09-15 12:59] dlashua commented on #676
That could work and would provide some sanity to the situation. There's an additional complication (that would exist regardless of how the namespace is handled) regarding an app name that is reused with residual data in a persistent namespace.

And, I agree, that if persistent app-level datastores are to be managed by AD, there's no reason to create them automatically. It could be done intentional

[2019-09-15 13:18] ReneTode commented on #667
its just about putting it in an input_text in AD, and then add a widget that displays the input_text in a certain way.
i remembered that the HA input_text might not be the best thing thoug, because its only 255 characters.
so an input_select with a special widget would be a better way i think. because that is already a list with options to delete, sort, add and select.

[2019-09-15 13:23] acockburn commented on #671
OK, yeah, it's a race condition. I'll take a look at how best to fix it.

[2019-09-15 13:24] acockburn commented on #481
OK, I'll close this for now.

[2019-09-15 13:24] #481 closed

[2019-09-15 13:24] ReneTode commented on #676
if we can create namespaces in intialise, with any name we like, then why would we need a special function that creates a namespace with the name of the app??

self.create_namespace(self.name) would already create a namespace with the name from the app.

[2019-09-15 13:25] acockburn commented on #480
OK, I'll look into at least adding checks and documenting this as a limitation

[2019-09-15 13:28] Odianosen25 commented on #676
Yes as @ReneTode said, all app names are unique, so there wouldn't be an issue creating a namespace for an app. if an api call is developed for creating namespaces which has been accepted to be worked on, the simply having in an app's initialization `self.create_namespace()`, without any name, will automatically  create a namespace in AD using the app's name.

Apps already have unique entity names

[2019-09-15 14:11] acockburn commented on #480
Fixed - it is now possible to use datetime objects and other entities without breaking the AUI or REST, or other plugins.

[2019-09-15 14:11] #480 closed

[2019-09-15 14:27] acockburn commented on #676
@efficiosoft - this somewhat coincides with some other work we are looking at. So at the moment I will at least re-implement the persistent namespaces to use shelve - I think that is a good idea.

Regarding per-app namespaces, we have also discussed allowing them to be dynamically created with an in-app call. If we do that it should give you most of (all?) that you are asking for. Dynamic creation

[2019-09-15 14:43] ReneTode commented on #676
see @efficiosoft discussing with me isnt useless at all ;)

[2019-09-15 16:17] efficiosoft commented on #676
Imho we don't. Such a call would have no benefits and just make the API more complicated.

Great idea in general, however I'd prefer having to supply the namespace name explicitly to `create_namespace()`, since it has to be provided to `get_state()`, `set_state()` etc. as well. All other methods assume the plugin namespace by default (afaik) and thus providing the datastore namespace to `create_na

[2019-09-15 16:35] acockburn commented on #676
Sounds good @efficiosoft.

And yes, I agree, the "self.create_namespace()` call should take an arbitrary name, with the docs recommending `self.create_namespace(self.name)` as the best practice for creating app based namespaces.

[2019-09-16 08:28] Burningstone91 opened #680 "Wrong formulas for latitude and longitude in scheduler.py"
Someone on the home assistant forum noticed, that the formulas to validate longitude and latitude are wrong in the scheduler.py for the init_sun method.

**if -90 > latitude < 90:**
should be
**if -90 > latitude or latitude > 90:**
With the current formula, a latitude of 100 would be a valid latitude.

The same goes for longitude.

[2019-09-16 09:30] ReneTode commented on #680
better readable would be:

**if latitude < -90 or latitude > 90:**

but i think you are right
the existing formula gives
if True<90: for any value above -90

[2019-09-16 09:55] Burningstone91 commented on #680
Yes, totally agree on the readability.
I quickly tested the current implementation with a small python script and it turns out, that it indeed wouldn't give an error if the latitude is above 90.

[2019-09-16 10:03] Burningstone91 commented on #505
Currently the only thing you can do is assign devices to areas.
As far as I know and read, there is currently no possibility to see which devices belong to a certain area. This has to be implemented on HA side first, before anything can be done in AppDaemon.

[2019-09-17 05:52] Kane610 commented on #505
@Burningstone91 sure you can, in the same way the frontend does. It is all there.

[2019-09-17 08:18] Odianosen25 opened #683 "Cannot listen to DEBUG Log entries"
Tried to listen to `DEBUG` log entries using the `listen_log`, but unfortunately it doesn't report it back.

I found out it is not even getting into the stream, so this is something internal I can't seem to find.

Regards

[2019-09-17 14:07] acockburn commented on #680
Well that's what you get for copying code ;)

Fixed in dev.

[2019-09-17 14:07] #680 closed

[2019-09-17 14:08] acockburn commented on #683
It was a design choice to not include DEBUG level log entries in the stream.

[2019-09-17 14:11] Odianosen25 commented on #683
Oh ok.

Just that in the plugin, if wanting to to get remote debug log it would not be possible, though the others work.

I do understand so will be closing this for now. Thanks

[2019-09-17 14:11] #683 closed

[2019-09-17 14:12] acockburn commented on #683
If you want to add it, I'll take a PR - I just didn't see the value at the time.

[2019-09-17 14:36] Burningstone91 commented on #505
@Kane610 Interesting. If I go to the area registry I only see the areas I have configured, however I don't see any of the entities that I assigned to the area. I also don't see any service calls to e.g. add/remove devices from an area. Could you please enlighten me?

[2019-09-17 15:01] acockburn commented on #462
Starting to think about this again - I think at the very least I will add Robert's proposal for "just in time" signature checking - that should allow both patterns to work with the added bonus of logging the problem for less experienced users, and no breaking changes.

The change from kwargs as a dict to **kwargs may be more involved. I'll take a look, but might move that out to a point release af

[2019-09-17 15:28] mattthewclayton opened #684 "AppDaemon log messages not sent to listen_log() callback"
Hey, I liked this guys idea of sending notifications when apps go astray but when I tried to fix up his app, I noticed that it just doesn't work anymore because of some extra checking done in appdaemon.

Idea from here:
https://github.com/eifinger/appdaemon-scripts/blob/master/appWatcher/appWatcher.py

I found just removing the 'name != "AppDaemon"' check in this block of code fixes the issue, I w

[2019-09-17 16:30] acockburn commented on #684
Yes, this is there for loop prevention

[2019-09-17 19:27] mattthewclayton commented on #684
Fair enough, well I don't want to mess with that..

I just took the effort to move to v4.0.0+, this does not happen on the tip of dev branch so I will just close this issue.

Thanks,
Matt

[2019-09-17 19:27] #684 closed

[2019-09-17 19:41] acockburn commented on #517
Yep, fixed in dev and available in 4.0b1 so closing this

[2019-09-17 19:41] #517 closed

[2019-09-18 20:25] sriramsv opened #686 "Feature Request: Need Event Registry to store custom event"
There is no way to add custom event callbacks in AD currently unless we use the homeassistant event system. This unnecessarily causes API calls to be made to HA if we want to use custom events.

If there was a eventRegistry inbuilt into AD, we can leverage custom callbacks effectively.
[code]

[code]

[2019-09-18 20:51] acockburn commented on #462
@efficiosoft
, @dlashua @TD22057 I just made a commit to the dev branch that optimizes the signature check along the lines that Robert suggested

1. Signature checking now only takes place if there is a TypeError exception when calling the callback
2. If the signature doesn't match as expected a warning is generated
3. If it does match it's likely a real TypeError in the callback so a stacktrace a

[2019-09-18 22:23] sriramsv opened #687 "Feature Request: `run_weekly()` method"
Currently, there is no easy way to execute code on a given day of the week, either we have to have a `run_daily` call which checks the `self.date().isoweekday()` to be a certain. This is unnecessary if we have a `run_weekly()` method which will execute at a given time on that day of week.

[2019-09-18 22:38] dlashua commented on #687
Until this feature request is decided upon, you can use this:

self.run_daily(blah, blah, blah, constrain_days="wed")

[2019-09-18 22:49] ReneTode commented on #686
@sriramsv please before you ask for features check if it isnt already in the dev version which is in beta in the moment
you can find the dev docs here
https://appdaemon.readthedocs.io/en/dev/index.html

inside that you will find fire_event which will fire an event in the AD bus.

https://appdaemon.readthedocs.io/en/dev/AD_API_REFERENCE.html#appdaemon.adapi.ADAPI.fire_event

[2019-09-19 03:21] #686 closed

[2019-09-19 07:59] wsw70 opened #688 "[DISCUSSION] How to monitor AppDaemon"
Now that AppDaemon became the center of the universe and a condition to peace in my household I am wondering how best to monitor its functionality.

Right now I am just making sure that the docker container it runs in is alive and in a proper running state. I feel that this is not enough as it is very robust to misconfigurations and its threaded nature makes it resilient.

What would be the right

[2019-09-19 08:36] ReneTode commented on #688
to see if it runs, you simply look at the log files.
there you see if an app is added correctly, if no errors then everything is allright.

in appdaemon 4.0 (which is now in beta) we got our admin interface.
that will show you all running apps, threads, callbacks, and more.

[2019-09-19 13:02] acockburn commented on #688
AD 4 has a very comprehensive (albeit undocumented) REST API. It's quite likely that it already does what you need.  For instance, you can grab all of the app objects in the admin namespace to find their current state - the state will reflect if they are inactive or have a compilation error. You can also query callbacks to determine if a given app has any active callbacks registered.

[2019-09-19 13:04] acockburn commented on #688
Another possibility would be to subscribe to the (undocumented) stream and raise an alarm if you don;t see anything for a period of time (there is a guaranteed heartbeat there every second in the uptime sensor)

[2019-09-19 13:08] wsw70 commented on #688
@acockburn this is fantastic news, thank you. If there is no documentation I will dig into the code to try to understand the endpoint. The features you mention are more than enough for my monitoring needs (and vastly superior to what I have today)

[2019-09-19 13:08] #688 closed

[2019-09-19 13:13] acockburn commented on #688
We will get around to documenting it - but for now check out http.py, it's all in there.

[2019-09-19 13:14] acockburn commented on #688
Also, if you are looking at the stream, it's about to get some significant changes in the next few days, so maybe hold off on that. The REST API is pretty stable however.

[2019-09-19 13:17] acockburn commented on #687
Sure, we can add this at some point.

[2019-09-19 13:57] wsw70 commented on #688
Thanks a lot @acockburn - I saw that the routing in `setup_api_routes` indeed has everything needed.

[2019-09-19 21:20] dlashua opened #699 "run_in() error (ASYNC PR)"
version: dev + async PR

This is likely a ASYNC PR issue:

[code]

[2019-09-20 11:27] efficiosoft commented on #462
@acockburn Sounds great, thanks a lot for implementing! This removes one of the most demanding challenges of upgrading to 4.x I guess.

[2019-09-22 20:35] acockburn commented on #643
Did Daniels response help @wsw70 ?

[2019-09-22 20:37] acockburn commented on #676
OK, we have the shelve re-implemnentation now, thanks to your PR - we are scheduling the create_namespace() piece for sometime after the beta closes.

[2019-09-23 15:47] dlashua commented on #699
Fixed with https://github.com/home-assistant/appdaemon/pull/645

[2019-09-23 15:47] #699 closed

[2019-09-23 20:54] nnmalex opened #729 "Style aeguments inconsistency"
Some widgets (input_boolean) have icon styling potion as "icon_style_inactive(active)" while others (navigate) have it as "icon_inactive_style" which is confusing. Would be great if there was one naming convention.

[2019-09-23 20:57] ReneTode commented on #729
after the release from AD 4 we will start working on dashboard.
this is 1 of the things we will work on.

[2019-09-24 06:08] jotacor opened #730 "Update MDI icons to 4.4.95 (HA 0.99.2)"
Please could you update the icons to 4.4.95 the same as the current version of HA 0.99.2 ?

[2019-09-26 10:03] akloeckner opened #735 "HAdasboard on iOS 9.3.5 (iPad mini 1st gen)"
I am looking for an interface to HA from my old iPad mini. In native lovelace, I ran into this issue: https://github.com/home-assistant/home-assistant-polymer/issues/3722. By now, there seems to be a fix, but anyways, the issue got me pointed to HAdashboard. On my Android phone, it works fine. However, on my iPad, not so well.

The iPad does not get status updates from the server. So, I have a wid

[2019-09-26 11:20] ReneTode commented on #735
there are compatibility issues with older Ipads.
but i have seen solutions come by and i know that andrew was working on that.
if it isnt already in AD 4 beta(which you probably dont have) then it will be there when the full release comes.

[2019-09-26 12:40] acockburn commented on #735
Yes, as Rene says, we should have a fix for this by the end of the beta. Closing as a duplicate of #469

[2019-09-26 12:40] #735 closed

[2019-09-26 14:11] akloeckner commented on #735
Great to know, you're at it. Thanks, folks!

[2019-09-29 06:50] jeroenvdwaal opened #739 "AppDaemon Health Sensor in Home Assistant."
First of all, thank you very much for making AppDeamon

Would it be nice to have AppDeamon 'Health-Sensor' that informs about the health of all configured App's?

The Health-Sensor aggregates the health of all App's:

So 'Healthy' means that all apps could be loaded and are running without throwing exceptions. 'Not Healthy' means that one or more apps are having troubles.

The Not Healthy status c

[2019-09-29 09:30] sergiigladchuk commented on #185
Hi I currently run version 4.1.0 as Hassio add-on. And get the same error is I want to use attribute and duration only for listen_state:
[code]
My problem is that I have listen_state for my illumination sensor in HA, and since both state of the sensor and its attribute 'illumination' are updated within 10 milliseconds callback is triggered twice.
I have tried different combinations of `attribute='

[2019-09-29 16:37] ReneTode commented on #185
in appdaemon 3.0.5 (the version you are running, the version you mention is from the addon)
there are some old issues that are already taken care of in the AD 4 beta version (for which there is no addon at this point.

your best solution for now is:
[code]

[2019-09-29 17:11] electrofloat commented on #411
I have this exact same issue.
@ReneTode is there a timeframe for the 4.0 release?

Also the proposed workaround (adding timezone, elevation, longitude, latitude to appdaemon.yaml) - as others have mentioned - does not work.

[2019-09-29 17:48] beeblebrox commented on #462
I'm very happy that the sanitize will allow for *args, **kwargs in the pythonic way going forward.
Will you add an option to suppress the warnings on the callback/timer methods?  My biggest worry is that when I migrate some of my apps will cause very spammy logs.

[2019-09-29 20:37] efficiosoft commented on #462
@beeblebrox There will be no warning unless your callback raises a `TypeError`, which happens e.g. when the function call failed due to an incompatible signature. When there is no exception, there won't be a warning either.

[2019-10-01 12:16] dlashua commented on #411
@electrofloat if you're using docker for both homeassistant and appdaemon, I suggest you make your appdaemon container dependent on your homeassistant container if you are running AD v3. This can be done fairly easily with docker-compose.

There is no strict release schedule for AppDaemon. However, 4.0 is in beta now and users are reporting it to be quite stable. We'd love to see you on the beta,

[2019-10-01 12:28] electrofloat commented on #411
@dlashua Nope, no docker. Installed from pip and using systemd's 'after' to start it after homeassistant. But since it takes time to really start HA, that is not a solution for this.

Although if you are saying that 4.0 is stable enough now I can give it a try. But there are 3 branches: master, dev and 4.0.0b1. Which one is recommended for 4.0?

Also are there any new docs on the changes? (Like wh

[2019-10-01 12:58] dlashua commented on #411
"master" is AD v3.0.5

"dev" is AD v4 with features that are still being tested for the next beta release. It's what I run, in production. It should be considered "alpha" quality. Generally speaking, it's pretty stable as once something hits "dev", if there are any issues we fix them pretty quickly. However, if you happen to update before the fix is merged, you may have issues (and, as always, we'

[2019-10-01 13:05] electrofloat commented on #411
Nice, Thank you for the detailed explanation and links.
Will try the "4.0.0b1" to see if my current issue resolves, and if it is, will see if I have time to read through changes and try the "dev" branch.

Thank you again!

[2019-10-01 15:48] ReneTode commented on #411
changes are logged here
https://appdaemon.readthedocs.io/en/dev/HISTORY.html

[2019-10-01 18:24] electrofloat commented on #411
@dlashua I can report that the 4.0.0b1 does indeed solve this issue. Will check the dev branch later when I'll have more free time.

(I had some issues installing this version, but nothing I couldn't resolve by myself.
If you want to take a look at it I pasted it on pastebin: https://pastebin.com/PkFExkCb )

[2019-10-02 05:28] arnoldpistorius commented on #739
If you could do that, that would be great.

[2019-10-02 13:27] dlashua commented on #411
Thanks for that. I'll look at getting setup.py fixed for the dateutil issue.

And I'm glad it's working for you well. AD4 has a LOT of improvements.

[2019-10-02 20:03] benleb commented on #739
Some kind of an enhanced version of a mixture of https://github.com/benleb/ad-healthcheck and https://github.com/benleb/ad-ench ?

I like (some parts of) the idea, maybe I will implement them sometime... If nobody else did it until then 😅

[2019-10-02 20:13] acockburn commented on #739
We already have some of this and a framework to expand it in AD 4.0. Each app has it's own entity with a status value, which is visible form the Admin Interface. We already catch apps that don;t initialize, it wouldn't be too hard to add some additional info, we have already planned some enhancements to what is currently there. A summary sensor or entity would be fairly easy to add, and some enhan

[2019-10-05 16:35] simonvanderveldt commented on #618
I think I'm looking for similar functionality, both for custom attributes defined in HA's `customize.yaml` as well as with the [default attributes](https://www.home-assistant.io/docs/configuration/customizing-devices/#configuration-variables).

Simplest case being I'd like to listen/act on state changes for all `binary_sensor`s which have the attribute `device_class=motion` only. I expected this t

[2019-10-05 23:45] clayhill commented on #730
I created a pull request #750 for this.

[2019-10-06 09:53] wsw70 commented on #643
@acockburn @dlashua yes, sorry, I was away for a moment.

It did solve the issue, having `DASH_URL=http://appdaemon.mydomain:5050` as the env variable solves the issue. Thank you.

[2019-10-06 09:53] #643 closed

[2019-10-06 09:55] wsw70 opened #751 "What does "Excessive time spent in utility loop" mean?"
I saw the following, isolated event in my log:

    2019-10-06 09:58:30.580023 WARNING AppDaemon: Excessive time spent in utility loop: 5020.0ms

When is the issue raised? Is the "utility loop" something I control or have influence on?

[2019-10-06 11:00] ReneTode commented on #751
the utilityloop is the internal loop from AD.
this issue is raised when AD needs to spend to much time inside some apps, and or when at restart from app the initialisation process takes to long.

allthough the problem is less severe inside apps in AD 4 then in AD 3, its still important to create your apps correctly.

inside a callback it important to use what i call "the hit and run" stategy.
make

[2019-10-06 11:08] ReneTode commented on #618
a better way is:
[code]
off course its possible to create a new arg for listen_state, but is that really needed for something that can be done with 2 lines of code?

[2019-10-06 11:46] dlashua commented on #751
I have an App Class that is used by about 40 apps. Initialize isn't particularly taxing, there is no sleep, and the callbacks don't do any loops. However, I still see this warning every time I modify the app class and all 40 apps restart at the same time.

It's an indication that something MIGHT be a problem, but not that it is DEFINITELY a problem. If it happens on it's own, without you actively

[2019-10-06 12:29] dlashua commented on #618
@ReneTode 's method works well as long as your HASS instance doesn't create new binary_sensors after it's started. If they are created a bit later (slower components, or components that adapt to changes in the upstream system while HASS is live) then this block of code will miss them.

However, putting your filtering at the top of the callback is not detrimental to system performance. There are a

[2019-10-06 12:33] dlashua commented on #618
That being said, allowing for context in a constraint could make this easier. The following code doesn't work, currently, but perhaps it should:

[code]

The difficulty would be implementing this without breaking all existing constraints and requiring users to add the "context" parameter to their defined constraints.

[2019-10-07 09:59] ReneTode commented on #618
not in AD 3, but you forget the AI steps when it comes to AD 4.

its just better practice to ensure that HA does have all the entities you want to work with, before your apps are initialising.
and its also better practice to reduce the amount of callbacks to a minimum.
maybe not on a system that doesnt do much, but if you got a system like mine it makes a BIG difference.

or do you think it doesnt

[2019-10-07 17:01] dlashua commented on #618
Since my AppDaemon CREATES some of the entities I'd like to check, this gets painfully difficult. On top of that, when I add devices with some components, they add to Home Assistant right then. If I code it this way, I'll have to restart Home Assistant when these new devices are seen.

There are ways to detect new devices (listening to _AD_ENTITY_ADDED, for instance) but, it's a nice hunk of code.

[2019-10-07 23:32] ReneTode commented on #618
no it isnt. a litteraly create hundreds of entities with appdaemon. and ALL are created BEFORE any other initialisation takes place.
its just not smart to create entities all over the place inside all kind of apps on any kind of time.
how would HA look if it only starts to create entities when an automation calls for them?
its possible to create entities with AD into HA, but its just good practise

[2019-10-08 06:31] danielo515 opened #755 "be more concrete on the home assistant tutorial"
Hello and thanks for this great tool and it's great documentation.
However, I came here for the home assistant tutorial, and I'm a bit lost.
The examples are great, and I have the appdaemon addon installed, but, how I'm supposed to add my apps?  Where should I put them? How do I tell the addon to run them?

Thanks.

[2019-10-08 07:14] danielo515 commented on #755
Ok, I see that after running the addon for the first time it creates a configs folder, great. In any case, it will be nice to add a small note about that for dumb users like me.

Regards

[2019-10-08 09:29] ReneTode commented on #755
@danielo515 the addon is just a small piece of code that makes it possible to install and start appdaemon on hassio.

the addon isnt created by us, and we dont have control over it.

[2019-10-09 17:13] danielo515 commented on #755
Hello @ReneTode
I can understand that. But maybe a small documentation about how it is supposed to work? Like, saying that X or Y folders will be created after the addon starts. That is not something specific to appDaemon, looks like something tied to this plugin.

Regards

[2019-10-09 19:11] ReneTode commented on #755
indeed, and we dont have anything to do with that plugin.
we cant say that X or Y folders are created by appdaemon, because appdaemon doest create the folders for you.
our docs:
https://appdaemon.readthedocs.io/en/latest/index.html

tell you in the installation and configuration part how to create your config dir and how to configure it and how to start appdaemon.

because none of us uses hassio (

[2019-10-10 06:51] danielo515 commented on #755
Ok, I see.
It is very hard to get help about any HASSIO addon because, if you ask on the hassio addon repo, they point you to the thing they are wrapping (in this case appdaemon) if you ask on the repo of the thing that is wrapped by a hassio addon they point you to the addon repository.

It is very convenient that you have a noobs tutorial for HASSIO and appdaemon, but I feel it is still unclear

[2019-10-10 06:54] danielo515 opened #756 "Bad request when try to notify"
Hello,
following the docs I'm trying to call one of my notify services from appdaemon.
Something as simple as this:
`self.notify("test", title="test")`

Triggers the following error

[code]

It happens for every notify service that I tried. They work fine inside hassio, so there must be a misalignment between appdaemon and the latest hassio.
I don't know much about python, so sorry for not providi

[2019-10-10 07:17] danielo515 commented on #756
Ok, it was my mistake.
What I did to find my error (in case it is of any help)
I started using call_service instead of just notify:

[code]

That worked without any problem, so then I started to translate that back to notify. I had to wrap my calls to get smaller error messages

[code]

That started to give me clues like the url `Bad Request for url: http://hassio/homeassistant/api/services/notify

[2019-10-10 09:40] Odianosen25 commented on #756
Glad you fixed it, will be closing this if you don’t mind.

Regards

[2019-10-10 09:40] #756 closed

[2019-10-10 09:55] ReneTode commented on #755
we  can help you understand the way they interact.
just come to discord and we can talk about it.

its indeed not easy to decide where you need to be. but it helps if you read the logs.
the first part of the logging is created by the addon. untill you see the line where appdaemon starts and tells you which version from appdaemon you are working with.

appdaemon works on any system that runs python

[2019-10-10 10:13] danielo515 commented on #756
Indeed I looked there first, I'm not that bad person 🤣
But they docs does not specify that you don't need to put the `notify/` prefix on the name. In fact, the following line could lead to the confusion.

Making you think that maybe the correct way of naming notification services is `notify/name`.
Thanks for the advise about self.log. Can I ask why? Apart from not getting the timestamp, what is ba

[2019-10-10 12:07] wsw70 opened #757 "Is it possible to list entities?"
I am writing a monitoring system which will dynamically create entities in Home Assistant and set their state. This state will be used when displaying a dashboard and also by AppDaemon to make some decisions (alerting for instance).

I will have about 70 of these checks so I would like to avoid writing a `listen_state()` for each of them. I see two possibilities:

- either a `listen_state("monitor

[2019-10-10 12:14] ReneTode commented on #756
we hardly can tell you everything that you DONT need to specify, can we?
and if we should change the line to:

noone would understand it ;)
it clearly states that nofify.notify or notify/notify is a service.
and yeah HA didnt make it easy by also chosing notify as name for the general service. ;)

the difference between print and self.log is that print goes to the console/terminal and log to the l

[2019-10-10 12:31] wsw70 commented on #757
Yes, I am sorry, I realized when reading another issue that there was a discord server (which I forgot about).

Since `self.get_state()` returns an iterator over all entities this is perfect, exactly what I as looking for. Thanks a lot!

[2019-10-10 12:31] #757 closed

[2019-10-10 14:09] acockburn commented on #730
#750 is now merged in dev and will be in 4.0.0b2

[2019-10-10 14:09] #730 closed

[2019-10-10 15:39] danielo515 commented on #756
Thanks @ReneTode for your answers.
Hassio is quite complex, even reading their documentation, so tying to make something external interact with it will be tricky too, I didn't expected less.
At least, in the future people like me (or even future-me) will be able to find this issue in case the have the same problem.

Regards

[2019-10-10 22:27] ReneTode commented on #756
dont confuse hassio with home assistant.
home assistant is a program that runs on the hassio platform

i never found the docs complex, or at least not when it comes to adding components or installing.
and i dont think thay much people will have that problem. when they have questions they ask on the forum or on discord.
appdaemon is used by (hundred)thousends of people and you are the first that ev

[2019-10-11 21:36] #755 closed

[2019-10-12 19:09] #751 closed

[2019-10-15 15:02] stiansoevik opened #764 "Apps "freeze""
It seems like some apps froze. Appdaemon is running in a docker using the latest tag, seems to be from 2019-05-12, but I have to admit I am not sure which version I am running.

I noticed all my light apps stopped responding (no light changes, no logs). However, I get log messages from dashboard and another app. Hence, it seems like something killed all my light apps (I run multiple instances of t

[2019-10-15 15:41] ReneTode commented on #764
anything in your error log?

i am afraid there are no debug options after apps are hanging.
but your main log shows that you got entities that are not available.
it depends on how you did create and setup your apps. was HA running and connected at the moment the lights are not available?

i suggest you restart AD and add some extra logging in the apps that give you trouble, and check out your erro

[2019-10-15 19:01] stiansoevik commented on #764
I think the error log is merged with other log output when running "docker logs appdaemon". As far as I can tell, HA was running just fine. These apps have been running stable for months. The not available entities is a separate app, going through all entities and sending notifications about batteries, stale devices and so on, so that should not be an issue here.

I did a small test, where I calle

[2019-10-15 19:09] stiansoevik commented on #764
Since you believe there is no way of debugging, I restarted appdaemon and will close this issue.

[2019-10-15 19:09] #764 closed

[2019-10-15 19:37] ReneTode commented on #764
i dont know docker. but AD gives the option for 2 log files (actually 4) and i prefer to keep them seperate.

in AD 4 you will have more visual control if an app is running and if callbacks are active.
it seems that at least the app was still running, so i cant tell what was the problem.
can be a problem with listen_state, but we havent had anything like that for years.
can be HA didnt send the st

[2019-10-19 12:40] e6on opened #767 "HADashboard Icon widget is not vertically centered"
Icon widget is not vertically centered, when widget dimensions are small.
[https://community.home-assistant.io/t/icon-widget-is-not-centered/140789](url)
Example code:
[code]

[2019-10-19 13:09] electrofloat opened #768 "Deprecation warnings when starting AppDaemon 4.0.0b1"
As the title says some deprecation warnings when starting AppDaemon 4.0.0b1:
[code]

checking the dev branch it seems that the first warning was fixed here: f9954657
but not the other 2.

[2019-10-19 13:18] acockburn commented on #768
What version of aiohttp are you using? As you said, the first has been fixed, but I haven't seen the other 2 despite using several versions of python. There will be some work in this area before the 4.0.0 release so we will address it, just curious that I haven't seen that message at all.

[2019-10-19 13:28] electrofloat commented on #768
[code]
Unfortunately I'm not familiar how pip handles packages and versions, but checking the website (https://pypi.org/project/aiohttp/#history) the latest version is 3.6.2, so I don't know why a freshly installed appdaemon came with 3.4.4

[2019-10-19 13:45] ReneTode commented on #767
yes you are right.
so you need to adjust the icon_style to make it like you want.
its almost impossible to give people the option to make appearance like they want and at the same time automaticly change positions and appearance based on some settings.

in AD the choice is made to give people the option to change the appearance yourselve.
so you can change the icon, the size of the icon, the place

[2019-10-19 18:25] bbrendon opened #769 "docs don't say admin: requires api:"
A bit of trial and error is required to figure out you need to add `api:` after adding `admin:`. The docs should probably mention it.

[2019-10-19 18:27] bbrendon opened #770 "http: is required. not mentioned in docs."
https://community.home-assistant.io/t/announcement-appdaemon-4-0-0-beta-2/143304/2?u=bbrendon

[2019-10-22 16:42] efficiosoft opened #773 "Reconsider deepcopying of callback keyword arguments"
Hi @acockburn

Recently, [this issue](https://github.com/efficiosoft/hass-apps/issues/39) was raised. It seems that AD 4.0.0b2 deepcopies keyword arguments for callbacks. I don't think this is a good idea, as it basically disallows you to pass arbitrary objects to callback functions.

Deepcopying creates a new object and hence a comparison using the `is` operator with the originally passed object

[2019-10-22 20:05] ReneTode commented on #773
@acockburn changed to deepcopy at the end of december 2018.
i dont know why, but i guess he had his reasons.
as soon as he has the time he will take a look at it.

[2019-10-23 07:15] efficiosoft commented on #773
Ah, at least this issue came up now. The thing is that people may don't even notice the deepcopying even when they pass custom objects, it's just pretty dangerous because it potentially copies several MiB of AppDaemon state regularly without notice, which is a performance issue at least and this probably was just not considered when implementing.

A solution could be one of:

1. Don't deepcopy use

[2019-10-24 00:48] ReneTode commented on #773
IF andrew wants to change this, or add things to documents, he will do so.
if he decides to leave it like it is, because he has reasons why it is as it is, then i guess youll need to live with it.

i the end its always up to him to decide what is changed and what isnt, and when and how is also up to him.

[2019-10-24 10:39] efficiosoft commented on #773
@ReneTode You're so right.

[2019-10-24 12:22] acockburn commented on #773
Which type of callback? For state, if a deepcopy isn't used, an app can unwittingly change AD's internal state via the new state argument which doesn't seem like a good idea, however since you found the issue in schedy I assume it was a scheduler callback that was affected?

[2019-10-24 12:25] acockburn commented on #773
Had a look at the code and don;t remember making that particular change - I'll think on it some more but it can probably be safely reverted since it is all app stuff and not AD's interbals we are talking about here.

[2019-10-24 13:02] acockburn commented on #773
OK, I reverted it in dev - will be in the next version (4.0.0)

[2019-10-24 13:02] #773 closed

[2019-10-24 13:24] #770 closed

[2019-10-24 13:29] efficiosoft commented on #773
Definitely, I was only talking about user-provided keyword arguments, not the positional ones inserted by AD.

Great, thanks a lot for your prompt reply!

Best regards
Robert

[2019-10-24 18:39] eBoon123 opened #777 "Output from 'log_thread_actions' seems to stop after switch to new log"
I turned on log_thread_actions by setting to 1, after restart of AppDaemon logging starts, but I noticed that after the log cycled, I was no longer seeing the thread information in the new log
Expected behavior:
continue to see thread messages after log switch

Actual behavior
thread messages stopped on log cycle

Steps to reproduce
turn on log_thread_actions and see if messages are still being de

[2019-10-25 01:50] AlexLadd opened #778 "Cannot cancel listener when passing handle from one app to another"
It is not possible to cancel a callback that is created in one app and the handle is passed to a second app. The following two apps below will demonstrate this. I understand that it is possible to create a method in app One that would cancel its own callback but it seems like it should be possible to cancel a callback from any app with the correct handle.

Home Assistant version: 0.100.2
Appdaemon

[2019-10-25 10:40] ReneTode commented on #778
a callback is connected to an app, so indeed its not possible to cancel 1 from another app.
if an app is advanced enough to start a callback in another app, it should also be advanced enough to cancel in the other app.

in the end it comes down to 2 lines of code.

see it like this:
an app is an entity and the listener or schedular is an attribute from that entity.
you use a certain way to create

[2019-10-26 16:21] challs opened #780 "python-dateutil dependency issue on install"
Hello, thank you for providing appdaemon.

I thought I'd try setting up a new venv from the dev branch. Unfortunately its broken at the moment:

[code]
The problem is due to `setup.py` importing `utils.py` in order to get at `__ version __`. The new version adds a load of other utility functions, one of which needs `python-dateutil`.

The problem can be worked around by moving the import in questi

[2019-10-27 15:47] ReneTode opened #784 "Admin interface doesnt load the logs right."
when i open the AI it works great, but when i try to view the logs google chrome gives me a warning that the page is not responding. it gives me the option to close the page or wait, but waiting doesnt help.

I already noticed this behaviour in dev since 18 august.
in older versions i dont have that problem.

[2019-10-28 01:30] ReneTode commented on #784
and to top that issue.

in dashboard log i get this
[code]
every second!

[2019-10-28 14:44] ReneTode commented on #784
i think the issue is related to deleting log files.
AD automaticly creates a log loop log, log1, log2, etc.
when i delete log1 and or log2 AD tries to read those files to send them to the AI and fails.

the unexpected client issue might have been a version conflict.
the AI was opened when AD was updated.

[2019-10-29 12:48] acockburn commented on #780
Thanks for flagging this, we'll get a fix into 4.0.0. I will probably just pull __version__ into it's own .py file, but I appreciate all the other suggestions P)

[2019-10-30 16:38] ReneTode commented on #784
no the unexpected client disconnection keeps occuring.
and all i can do to get rid of it is close all my admin pages on every PC.

[2019-11-03 15:00] MarkHofmann11 opened #796 "Camera widget needs to use tokens to display - after HA .101.2 upgrade."
Legacy API support has apparently been removed from Home Assistant for cameras.  In order for cameras to display in appdaemon again, would need to use token based authentication.

[2019-11-03 15:18] ReneTode commented on #796
yes we know.
AD 4 is in beta and supports token.

but the full release from AD 4 will come after HA 1.01 has been released, so for those using cams on dashboards we advise to not update HA untill AD 4 is released or use the beta version from AD 4 (not available for hassio)

[2019-11-03 15:24] MarkHofmann11 commented on #796
Thanks for the update/info!

Excuse this question, but how would I go about installing the beta AD4?  I run HA & Appdaemon on Windows and use "py -m pi pinstall --upgrade appdaemon" as my current method to upgrade.  That doesn't pull the beta obviously, and never knew how to install a beta.

Thanks!

[2019-11-03 15:48] MarkHofmann11 commented on #796
Looks like I'll have to get the cameras working again for now.  Getting a "No module name 'fcntl' in d:\appdaemon\lib\site-packages\pid\__init__.py - apparently due to the fact I'm running this on Windows.

From what I read, there is no fcntl support on Windows.  Stuck at the moment.

[2019-11-03 17:21] MarkHofmann11 opened #797 "No module name 'fcntl' in d:\appdaemon\lib\site-packages\pid_init_.py (4.x beta - on Windows)"
Tested Appdaemon v4 beta on Windows - getting is error:

**No module name 'fcntl' in d:\appdaemon\lib\site-packages\pid_init_.py**

It appears the work-around is to use "import portalocker" and change instances using fcntl to use portalocker for Windows systems only.  There might be a better way.  I got past that error by doing just that.

Found this bit of interesting information on cross-platfor

[2019-11-03 19:20] ReneTode commented on #797
did you update from an AD 3 version?
because then you need to make changes to your appdaemon.yaml (see breaking changes and configuration in the AD dev docs)
that could solve your dashboard problem.

the file locking thing i leave up to @acockburn

[2019-11-03 20:03] MarkHofmann11 commented on #797
Yes, I upgraded from AD 3 and did make all the updates to the appdaemon.yaml.  I was able to get it running on Windows after commenting out the "import fcntl" and adding the "import portalocker" and replacing references to fcntl with portalocker (just to see if I could get it to work on Windows).  That park worked after those changes.  So, the fix could be as simple as if "os=windows" then use the

[2019-11-03 20:28] MarkHofmann11 commented on #797
![Capture](https://user-images.githubusercontent.com/13205433/68091477-3dd84a80-fe4e-11e9-97e1-b95385c13df7.JPG)
For the time being, got the camera images working in AD 3 again by pointing the URL to my internal Blue Iris program.  http://blueiris-ip/image/camera-short-name

[2019-11-03 20:45] ReneTode commented on #796
still good that you tested.
because now we know there is a problem with installing AD 4 on windows.
we will try to correct that before AD 4 is fully released.

[2019-11-03 23:31] MarkHofmann11 commented on #796
Glad my efforts were not for nothing.  :)  Happy to test again on Windows when ready.

[2019-11-06 02:53] shbatm opened #801 "[REQUEST] Include example docker-compose file with Docker Tutorial"
Would like to propose including an example `docker-compose.yaml` file with the repo or in the Docker instructions in the `docs` folder.

Here's an example of one for using the latest beta version alongside a hassio installation:

[code]

[2019-11-06 09:46] ReneTode commented on #801
i dont think many people will use hassio side by side with appdaemon in docker.
hassio has the AD addon.

so this example would not be really a good example.

[2019-11-06 17:52] shbatm commented on #801
I was just using that example because that's what I had (the hassio add-on doesn't support v4 yet).

For a stand-alone HA docker install, it wouldn't be much different:
[code]

Just a thought to include since the docs already include the details for running via command line.

[2019-11-06 23:27] ReneTode commented on #801
i know that the addon doesnt support AD 4 yet.
thats why almost no hassio users use AD 4 ;)

the problem is that there is no default install. you can install HA on many different ways, on many different places. it doesnt even need to be on the same device.
if we provide an example in the docs, people will expect that we explain that example.
so it would need an explenation for things like ports, e

[2019-11-07 01:55] shbatm commented on #801
That's fine. I wasn't trying to make anything complicated, just something to compliment the command line example already in the docs:

[code]

I find docker-compose much nicer than trying to manage various command line statements.

[2019-11-07 01:55] #801 closed

[2019-11-09 12:17] dlashua opened #802 "stack overflow with listen_event()"
Using latest "dev", I get the following error:
[code]

app.yaml
[code]

dlashua_utils.py
[code]

[2019-11-10 18:07] electrofloat commented on #652
I just run into this issue.
It seems to be happening when I'm calling the run_daily function with a kwargs parameter like this:
`self.run_daily(self.callback, schedule.start, constrain_days=schedule.get_days_of_week(), entity_temps = schedule.entity_temps)`

if I remove the `entity_temps` parameter, the warning disappears.

[2019-11-11 01:20] dlashua commented on #652
At the moment, yes, all kwargs to callbacks have to JSON serializable.

The reason is because the kwargs are presented in an internal entity that represents the callback. This entity has to be able to survive communication via a JSON encoded websocket connection (usable for any purpose, but, primarily used in the Admin UI).

However, as you mention, this does add limits to what can be passed by kw

[2019-11-11 08:52] electrofloat commented on #652
I see. Maybe it could be resolved by documenting that a kwargs user class has to implement some to_json/from_json or serialize/deserialize functions, in that way the JSON can live on and the user can implement it for their custom classes.

[2019-11-13 20:56] electrofloat opened #807 "zwave.network_ready does not get triggered in 4.0.0.b1"
Hi!

It seems that if I use a startup condition like this:
[code]
then appdaemon is stuck at:
[code]
forever. Nothing else is written in the logs after that.

In HomeAssistant I can see that Zwave was ready at:
`2019-11-13 21:49:08 INFO (MainThread) [homeassistant.components.zwave] Z-Wave ready after 27 seconds`

Also it seems that if manually listening for start/ready states in an app like this:

[2019-11-13 22:46] ReneTode commented on #807
it is very well possible that HA has changed the event names.
the best way to see if those events are actually there or with another name is to use an app like

[code]
create and save that app, restart HA and see what events are there from zwave.

if only 1 character in the event_name has changed your CBs will never trigger and AD will never start.

[2019-11-14 08:34] electrofloat commented on #807
The constant in homeassistant dev branch is still `zwave.network_ready` https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/zwave/const.py#L74
(and on the 0.101.1), and they seem to fire it here: https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/zwave/__init__.py#L521

So I don't think they renamed it, but will try the method you ment

[2019-11-14 10:27] electrofloat commented on #807
Hmm.. is it possible that the event system from HomeAssistant doesn't work at all in 4.0.0b1 or did I forget to configure something?
I've just installed Home Assistant and Appdaemon in a demo env, and created an example app:
[code]
and I only see the `plugin_started` `plugin_stopped` events:
[code]

[2019-11-14 12:21] ReneTode commented on #807
if you got a clean HA it start pretty quick.
so its possible all startup events from HA are already done before AD is listening.
and for sure when you have startup conditions, then the plugin waits untill the startup conditions are met, and only starts listening after that.

[2019-11-14 13:57] dlashua commented on #807
@electrofloat With your event listener app running, can you try firing an event directly from Home Assistant and seeing if it shows up in your log?

[2019-11-14 14:15] electrofloat commented on #807
Yes, it seems to be working. Also - this is still the demo env - it seems that if I manually start zwave network from the Home Assistant GUI the start event shows up (there won't be any ready events, because in this demo env there are no zwave devices).
So this must be some startup sync issue between Home Assistant and Appdaemon?
(will try it with realy Zwave network later today)
[code]

[2019-11-14 14:26] ReneTode commented on #807
probably.
you are listening to events to start AD, but if the event is already fired before that, then AD will never start.

[2019-11-14 15:49] electrofloat commented on #807
So.. on a real Z-Wave network this is how it goes.
When restarting Home Assistant this is what I get in appdaemon:
[code]
and this is Home Assistant's side:
[code]

If I manually stop Z-Wave network from Home Assistant frontend->Configuration->Z-Wave->STOP NETWORK and then also manually start this is what I get;
appdaemon:
[code]
Home Assistant:
[code]

So what I see is that the `zwave.network_rea

[2019-11-14 23:16] ReneTode commented on #807
so use zwave.network_complete instead of zwave.network_ready and we will adapt the docs to the change that HA has made.

glad that you found out what they have changed.

[2019-11-15 17:16] electrofloat commented on #807
So debugging this further I came to a conclusion that `zwave.network_ready` is not fired on the Home Assistant side.
There's an example automation on `https://www.home-assistant.io/integrations/persistent_notification/`
I used that and saw the same thing as it was with Appdaemon. `zwave.network_ready` was never fired, and start was only triggered when I manually stopped/started Z-Wave. I think I'l

[2019-11-15 19:25] ReneTode commented on #807
i wouldnt hold up my complete AD, and i certainly wouldnt rely on an event from HA.

for things like that i would take the check out of the initialise.
somethink like:
[code]

that way all of AD will run as soon as possible, and the app that needs zwave will wait untill the entity exists.

[2019-11-15 20:16] electrofloat commented on #807
Unfortunately that does not help, since it seems the zwave entity is already available, but can only be called a set_config_parameter on, after zwave is done initializing itself.
So I resorted to something like this instead:
[code]

This is still not the best solution because now if I restart appdaemon, this app always have to wait 60 seconds to start. And also when zwave.network_complete's callba

[2019-11-16 01:15] ReneTode commented on #807
appdeamon has its own startup events, so you can know if AD is restarting.

i am sorry that zwave is such a pain in the butt, all we can do is help you make it as good as possible.

[2019-11-16 01:55] iot49 opened #810 "create_vacation called from appdaemon throws 400 Client Error: Bad Request"
**Home Assistant release with the issue:**

Home Assistant 0.101.3

**Last working Home Assistant release (if known):**

**Operating environment (Hass.io/Docker/Windows/etc.):**

Docker on Ubuntu (NUC)

**Integration:**

ecobee / appdaemon

**Description of problem:**

The last line of the code below (call_service ecobee/create_vacation) throws an exception when end_date is specified. The command

[2019-11-16 09:08] Odianosen25 commented on #810
This is not an AD issue, as possibly one if the update doesn’t allow for that service call with that parameter. Can the user kindly via the HA interface, try the service with that parameter and let us know if it works fine?

Regards

[2019-11-16 09:13] electrofloat commented on #807
I forgot about AppDaemon startup events. I'll look into that, thank you!

Also as far as I know they are working on a new method to interact with Z-Wave: https://github.com/cgarwood/python-openzwave-mqtt
That hopefully would eliminate all the pain of Z-Wave startup in the future. We'll see what happens.

I'm closing this issue now since the original issue turned out to be on Home Assistant side.

[2019-11-16 09:13] #807 closed

[2019-11-16 16:35] iot49 commented on #810
You are right, problem appears to be with the create_vacation service. I inquire the developer of that one. Sorry for the false alarm.

[2019-11-16 16:35] #810 closed

[2019-11-16 16:55] Odianosen25 commented on #810
@iot49 its alright, and glad you have sorted it out.

We are always here to help, if further issues arise.

Regards

[2019-11-19 23:06] basnijholt opened #813 "add oneshot to listen_event"
I noticed that `listen_state` has `oneshot` which seems very useful. I think it makes sense to implement the same in `listen_event`. What do you guys think?

I might give this a shot if I have time soon.

[2019-11-20 12:21] dlashua commented on #813
I saw someone asking for this just the other day. I think it would be useful.

[2019-11-20 15:42] Fredderic opened #814 "Access to AD's Astral instance"
Primarily, I need to calculate sunrise/sunset times for future dates.  Since AD uses Astral, what I need seems to be sitting right there in `AD.sched.location`…  Would be better to use what's already there, than re-implement it on my own.

The other features provided by Astral would be useful too, particularly moon phase, which is another event I need to incorporate into the app I'm presently work

[2019-11-20 19:28] Odianosen25 commented on #813
@basnijholt you can try this out now #816

[2019-11-21 18:12] basnijholt opened #817 "setup.py is broken due to __version__ being defined in the wrong place"
In `setup.py` the attribute `__version__` is imported from `appdaemon.utils`.

However, in `appdaemon.utils`, `dateutil` (a thrid party package) is imported.

So before the requirements are installed `dateutil` will be imported, which is not possible.

I would argue that `__version__` doesn't belong in `utils`. Rather create a file `version.py` and then load it in `setup.py` like:
[code]

[2019-11-21 18:18] basnijholt commented on #780
I posted another suggestion in https://github.com/home-assistant/appdaemon/issues/817.

[2019-11-21 18:18] acockburn commented on #817
Duplicate of #780

[2019-11-21 18:18] #817 closed

[2019-11-21 18:18] acockburn commented on #780
Also referenced in #817 with suggested solution

[2019-12-01 18:02] #813 closed

[2019-12-01 22:38] ZzetT opened #819 "now_is_between() has non-strict inequality semantics"
I have the following app:
- turn the (decoration) lights on after the first motion is detected between a certain time A and B (for that I use the now_is_between() API)
- in addition, turn off the lights at time B (use run_daily callback)

In very rare cases, it happens that the lights are still one after time B. When I checked the HA logs, I saw that it indeed turned the lights off at time B, but

[2019-12-01 22:50] ReneTode commented on #819
a better way would be not to use now_is_between at all.

def init():
    self.listen_state(self.cb,"sensor.motion", new="on", constrain_start_time= "sunrise", constrain_end_time = "sunset")
    self.run_daily(self.cb2,"23:00:00")
def cb(...):
    # turn on lights
def cb2(...):
   # turn off lights
[code]

[2019-12-02 18:28] ZzetT commented on #819
But this also means that I have to convert the time (which is passed as a string parameter to the app) first to UTC, subtract 1 minute and convert it back to a datetime object, because I can't just write "23:00:00 - 00:01:00" right?

[2019-12-02 21:29] ReneTode commented on #819
no indeed you cant substract a minute like that.
the expression you found is just 1 of the many, many possibilities to solve it.

[2019-12-03 21:59] #819 closed

[2019-12-10 07:55] PhyberApex opened #821 "Extract json from multipart request in endpoint"
A lot of webhook integrations (Emby / Plex) user multipart format for their webhooks. Currently Appdaemon fails with a json decode error. It would be great if it could be fixed so the request is looked at and if it is multipart it checks if there is a json part to it. As I do not have enough experience with python development I think I would fail horribly at trying to implement this.

Any chance t

[2019-12-10 10:51] Odianosen25 commented on #821
Hello @PhyberApex,

Can you kindly give more details what you trying to do, and how the webhook comes into play?

Also what version of AD you using, and where exactly in AD the error is seen.

Regards

[2019-12-10 11:02] PhyberApex commented on #821
Sure as for context: I am using the appdaemon in docker which runs on version 3.0.5 currently. I am using the "register_endpoint" API function to register an endpoint called "emby_webhook_receiver". This endpoint gets called from my Emby server via a Webhook. This webhook is encoded with as multipart which contains one part in json. If needed I can attach what the request exactly looks like if tha

[2019-12-10 11:09] PhyberApex commented on #821
Here is the test webhook request from emby.
[code]

~Cheers

[2019-12-10 15:18] Odianosen25 commented on #821
Apologies I am just responding @PhyberApex ,

What is the response like that is to be sent back?

Besides the api end point isn't setup for something like that. I would expect you use a plugin kind of setup for what you want.

Also there is a PR in place to allow for apps to register web routes, look at it here #815. Will it solve your issue when its available? That can support multipart. And if i

[2019-12-10 16:27] PhyberApex commented on #821
The response that is send back doesn't actually matter as long as it has the http status of 200 (OK). I don't think the PR you mentioned would change any of that. Maybe I should make an example to better get my point across. Imagine the following setup:
[code]
If I now press play on my Emby Client I want the lights in the living room to dim.

The emby Media server has a plugin for exactly such use

[2019-12-10 18:16] Odianosen25 commented on #821
Hello @PhyberApex,

Thanks for the extra explanation. Well it seems it shouldn't be an issue adding it to AD, but its presently not in the pipeline. I will flag this as enhancement, so we can look into it later. It could be done with a plugin, but since its something that could potentially easily be added into the http component, I will suggest to the other devs we do it that way, but I can't guar

[2019-12-10 18:34] PhyberApex commented on #821
Okay so just to make sure I understood correctly. You would be open to a PR about this? I might take a shot at it then this weekend or try the plugin way. As I am not proficient in python it might take me some trial and errors before I get anything that actually works. I will report back either way tho. If I wanted to do a PR is there anything I have to take into account like unit tests or somethi

[2019-12-10 18:42] Odianosen25 commented on #821
Yes we are open to a PR, and if having any difficulty, we are also willing to help.

We have not implemented any units tests yet, but there is a PR for that also which haven't been merged. So if you have anything, just submit and we will test it ourselves and look into if it can be merged or not.

Regards

[2019-12-12 06:02] LunkwillAndFook commented on #505
Is support for Areas on the roadmap? They have been in HomeAssistant for almost a year now and I've hit a wall where things get really "hackey" without support for areas. Although my time is limited I'm happy to help implement where I can.

[2019-12-12 10:53] ReneTode commented on #505
@LunkwillAndFook thats why this is still open.
we cant do anything with it.
i asked for API on kane several times (and he was involved in creating it) but still got no answers about it.

Areas are nothing more then a group that isnt called a group, but an area.
grouping can be done in any way you like. (in AD or HA) and at least for groups in HA there are services already implemented.
i use Area g

[2019-12-22 21:59] racoonx2p commented on #821
I would be glad for this feature as well. I'm trying to setup Interactive Components in Slack with Appdaemon **register_endpoint** function but response is multipart request.  I can see same error in log:

`API Call to my_api_link: status: 400 JSON Decode Error`

I can do it with home assistant Automation and Scripts as advised in this link https://community.home-assistant.io/t/how-to-get-actionab

[2019-12-26 15:40] GMFalka opened #827 "Appdaemon, no module named 'mqttapi'"
Hello!

Appdaemon works with the hass plugin, but the mqtt plugin doesnt want to start.
Any help would be appreciated.

**Appdaemon.yaml:**
[code]

**Example app from the appdaemon documentation**
[code]
**Error.log:**

[code]

[2019-12-26 17:26] #827 closed

[2020-01-03 09:24] LaBoss opened #829 "AD 4: Camera widget"
Hello

After installing AD 4 I put the camera widget and so far so good!

The problem now is, if you restart HomeAssistant the IP of the tablet running Dashboard is banned!

I think it's because the camera token has changed and the dashboard didn't reflect this change!

Maybe it was better to detect if the HA was relinquished and force the camera token update

Thanks

Version | 4.0.0b2

[2020-01-03 12:24] ReneTode commented on #829
dashboard cant know that you restart HA, and even if we modify dashboard so that the HA start event is noticed and all dashboards automaticly get reconnected, we get the same trouble as with apps. HA gives its events before all components are completely setup.
so the risk is that at that point a lot of widgets get an error because entities are not setup when the dashboard is loaded.

the best way

[2020-01-03 13:58] LaBoss commented on #829
Its not possible handle 403 error when token got invalid first time?

Is there any api that can force dashboards to reload?

Thanks for reply

[2020-01-04 03:28] ReneTode commented on #829
there is no api that forces dashboards to reload.
you can add headscripts to a skin to handle that, or like i do: use fully kiosk and use that to reload the dashboards.

i dont know how the widget should check for the 403 error.
but at that point its already to late, because dashboard would only change the token after it would have tried to logon with an invalid token, and then its blocked.

makin

[2020-01-05 13:09] thundergreen opened #833 "Make appdaemon4 available for HassIO Add-on"
Hi friends. I'm now waiting month to get HassIO add-on for appdaemon V4 ..is there a planning about to release those ?

Best regards

[2020-01-05 13:12] ReneTode commented on #833
hi @thundergreen AD 4 beta is planned for release for a while now, but IRL from devs has delayed that over and over.
i still only can say, that if nothing goes wrong anymore then soon.
but how soon after that there will be an AD 4 addon we cant say, because we dont maintain and create addons.

[2020-01-05 14:14] thundergreen commented on #833
Well.. once you give AD4 the kick-off.. the addon will be created by frenck. afaik

[2020-01-05 15:37] ReneTode commented on #833
lets hope so, because when we moved from AD 2 to AD 3 he also created a beta addon.

[2020-01-05 19:07] wsw70 opened #834 "Missing information about app in "Excessive time spent in utility loop" warning"
I see here and there `Excessive time spent in utility loop` warnings:

    2020-01-05 13:51:51.275486 WARNING AppDaemon: Excessive time spent in utility loop: 979.0ms

Depending on the app, this may or may not be a problem:

- a long HTTP call in a single app may be fine because it otherwise does not impact anybody else.
- a warning for an app which is supposed to be "reactive" is an important sig

[2020-01-05 20:04] ReneTode commented on #834
the warning doesnt give more info about the app, because its not just 1 particular app that makes that causes it.

AD has a main loop.
in that loop all kind of stuff happens. for example is checked if apps are updated, changed, added or deleted.
at the moment that you reinitialise an app that has a lot of depending apps, you can imagine that python needs more time to get through that loop.

when e

[2020-01-05 20:38] acockburn commented on #834
What Rne sais. In addition, If any particular apps are spending excessive time in a particular callback, AD4.0 will log that for you.

[2020-01-05 20:55] acockburn commented on #833
Have been in discussions with @frenck and he is ready to go as soon as we release 4.0 - HASS has tightened up rules a little and no longer create beta addons for hass.io, so he has been waiting for the AD team to release 4.0 which we are working on and hope to get out soon.

[2020-01-06 08:15] chbndrhnns commented on #833
I would appreciate a new release to get access to the fix from https://github.com/home-assistant/appdaemon/issues/773

[2020-01-06 08:31] benleb commented on #833
is there a list of blockers/todos or anything for AD4? Maybe some people would like to contribute to speed things up a little 👍

[2020-01-09 08:37] cornim opened #835 "New config parameters required in AD4.0"
Hi,

I'm trying out the new AD 4.0.0b2 and realized, that now a couple of additional parameters are mandatory in the config file: In particular these are:
[code]
Unfortunately I don't see any indications in the documentation on how to format these and what units to use. For each of them there are several possibilities.

Additionally I would like to understand why these have been moved from optiona

[2020-01-09 08:40] cornim commented on #835
Also the `conf/appdaemon.yaml.example` is missing these entries.

[2020-01-09 11:36] ReneTode commented on #835
if there are several options to format those then indeed we need to specify in the docs.
i am pretty sure that its possible just to copy paste it from HA.

they cant be read from HA anymore because HA is optional. AD can be used without using HA.
but without timezone, etc. it is not possible to have sun based functions

logs are logged to STDOUT or STDERR on default.

we will change the example fi

[2020-01-09 11:41] ReneTode commented on #833
@benleb we are rediscussing what we consider blockers/todos
there is/was a list, but not public.

the main problem is that Andrew is really needed for a release, and his life is quite complicated at this point, so he has very little time.

[2020-01-09 12:45] cornim commented on #835
Just to clarify: Possible formatting options that come to my mind are:
lat/long: floating point numbers or degrees + minutes + secs
time zone: UTC+<number> or string timezone e.g. Europe/Paris
elevation: different units are possible, e.g. imperial or metric.

[2020-01-09 13:01] benleb commented on #835
we should do it like the huge majority from my opinion... and not invent some strange units or formats...
* floats for lat/long
* timezone as X/Y string
* elevation in meters as imperial is lol and really uncommon

here a working (running since months...) snippet from my config...
[code]

[2020-01-09 13:09] benleb commented on #833
Okay, sounds i have to backport more of my apps to ad3...^^

Why is the todo-list a secret? :D

But besides that, that's not good. not for @acockburn (bearing all responsibility probably generates some kind of "pressure" and such...) nor for appdaemon. the [bus factor](https://en.wikipedia.org/wiki/Bus_factor) should be increased somehow maybe...?!

[2020-01-09 14:17] acockburn commented on #835
As Rene said, the format is identical to HA, no strange formats being invented here! We'll add to the docs.

[2020-01-09 14:25] acockburn commented on #833
Plan is to get AD4.0 out by the end of Jan.

As regards pressure - I can handle it ;) If it gets too much I step away for a little while. I've had far too many hobbies ruined by pressure to let this become one. The price paid for that is that sometimes releases can be a little delayed. This time I've had a lot of busyness in work life coupled with some personal things to work through which is what

[2020-01-09 15:28] cornim commented on #835
Works for me.
I didn't want to promote any other formats. Just wanted to point out that the formatting wasn't clear from the docs.

[2020-01-09 15:36] acockburn commented on #835
OK, hints have been added to the docs in dev.

[2020-01-09 15:36] #835 closed

[2020-01-09 20:14] ReneTode commented on #833
@benleb bearing all responsibility comes when you create something that others like, and that you develope as your baby.
Appdaemon is and will be Andrews responsibility, but these days he got a team to support him to do the things he does best in the little time he has got.

Thats why i am the voice of AD for years now, so that Andrew doesnt have to deal with that kind of things.

we are also prep

[2020-01-10 14:30] martinlong1978 opened #836 "Oneshot not quite right"
Hi,

It's very difficult to find bugs in appdaemon, but I think I've got one.

When i set the oneshot option on listen_state, also specifying "old" and "new" values, then it considers the "oneshot" to be complete, even if the old and new criterea are not met.

So, for example I set up a listener on my door lock...

self.listen_state(self.locked, self.lock, new = 'locked', old = 'unlocked', execute

[2020-01-11 14:12] Odianosen25 commented on #836
@martinlong1978 what version of AD you are using pls?

[2020-01-12 00:46] DaAwesomeP commented on #767
@e6on I was able to shift my icons up with a negative top margin:
[code]

[2020-01-12 15:47] acockburn commented on #780
This is fixed in the pending 4.0.0 release (I used @basnijholt  implementation)

[2020-01-12 15:47] #780 closed

[2020-01-12 15:48] acockburn commented on #768
This should be fixed in 4.0.0, just about to be released  - we upgraded to the latest version of aiohttp

[2020-01-12 15:48] #768 closed

[2020-01-12 17:41] Odianosen25 opened #838 "Stopping Plugins and Apps Race Condition"
When AD is shutting down, there is an issue whereby though apps are instructed to terminate first, sometimes the plugins actually stop before the apps have been completely terminated.

This sometimes lead to errors in the error log during shutdown, if some apps are still trying to access the plugin like `listen_log`

[2020-01-13 00:11] JZ-SmartThings commented on #469
@acockburn question: this one did not make it into v4.0.0, is that correct?

Thanks!

[2020-01-13 00:37] acockburn commented on #469
Sadly not - I was planning to get it into 4.0.0 but my lack of time to work on it was holding up the release. In the end I decided to release anyway as I wanted to deliver python 3.8 compatibility and get people off the beta as well as get a Haas.io add on for 4.0. This feature is top of mind and I will get it in soon - certainly before I dig into anything else major.

[2020-01-13 02:32] JZ-SmartThings commented on #469
Much appreciated, thank you @acockburn !

[2020-01-13 09:42] martinlong1978 commented on #836
Sorry for the late reply. It's version 3.0.5. Thanks

On Sat, 11 Jan 2020 at 14:12, Odianosen Ejale <notifications@github.com>
wrote:

[2020-01-13 10:31] Odianosen25 commented on #836
Ok @martinlong1978, if that’s the case, kindly upgrade to the latest released 4.0 and see if it continues. There were some bug fixes for oneshot in this release.

Do take note of breaking changes as you upgrade.

Regards

[2020-01-14 05:17] JZ-SmartThings commented on #469
Hey @acockburn you may want to hold off because 4.x kinda broke all older iPads. iPad1, iPad2 and iPad3 all show the same gray icons that flicker that don't do anything when pressed. Even loading Hello dashboard just shows one large gray square. I'm using Safari but a few other browsers showed the same issue. Looks like 4.x changed something crucial to the functionality. I'm going to try the last

[2020-01-14 14:05] acockburn commented on #469
Thanks for the research - and I am seeing this too on 2 of my older iPads, still investigating. I have been running the beta happily right up to the last few days, and I am working on the theory that the upgrade to aiohttp has broken something since that went in right before the release. It's a little hard to troubleshoot on an iPad but I will be looking into it as my main downstairs panel is brok

[2020-01-14 14:44] acockburn commented on #469
Reverting the aiohttp version to the previous did not fix the issue so I'll need to do some more troubleshooting ...

[2020-01-14 14:44] acockburn commented on #469
In fact I'll add a new issue for this

[2020-01-14 14:46] acockburn opened #841 "Dashboard on older iPads broken by 4.0.0"
iPads running iOS 9 or earlier seem unable to correctly render dashboards since the upgrade to 4.0.0. The screen is loaded but all the tiles appear as unresponsive grey squares.

Reversion to 3.0.5 fixes the issue.

[2020-01-14 14:47] acockburn commented on #469
Added #841 to track this.

[2020-01-14 14:50] acockburn commented on #841
I had initially suspected the upgrade to aiohttp from 3.44 to 3.6.2 may have caused this but a quick test still shows the issue.

[2020-01-14 15:05] benleb commented on #841
this upgrade fixed the api/http in py 3.8 afaik

[2020-01-14 16:23] JZ-SmartThings commented on #469
Thank you sir! @acockburn sorry to be the bearer of bad news...

[2020-01-15 10:49] d0ugal commented on #496
I ran into this when upgrading to AppDaemon 4. In AppDaemon 3 the following code worked...

[code]

In AppDaemon 4 it will error.

[code]
I found this a little strange, since the only way to make it work is to guess how much might pass and add that to the start time. For example...

[code]
I hope it would always be within a second, but maybe not on a very slow/overloaded system.

[2020-01-15 10:56] d0ugal opened #843 "run_every should have a default start value of now + interval"
Currently you need to specify the start datetime for `run_every`. This is inconvenient as it requires users always have to do some datetime calculations (albeit simple calculations). It would be better to match the behaviour of `run_hourly` and `run_minutely` (they start one our and one minute after the methods are called).

I have replaced the current implementation with the following and it work

[2020-01-15 14:46] d0ugal commented on #843
From discord;

Helpdesk Rene (renetode)Today at 11:21
thx. a PR would be usefull if both options were added.
None for starting after the inteval, "now" for starting ASAP.

[2020-01-15 18:30] wsw70 opened #844 "docker image 3.0.5 installs AD 4"
I updated my docker image by mistake to `:latest` and AD 4 was loaded. Everything was broken but never mind - I would just force the `3.0.5` tag for now pending configuration updates.

I pulled the `3.0.5` version which started fine but ended poorly:

[code]

**Note the version of AD**

The rest of the startup was catastrophic:

[code]

[2020-01-15 18:31] ReneTode commented on #496
in AD 3 it did work the same way, but it seems that the code did handle it just a little faster.

we will add the ASAP option in a future release

[2020-01-15 18:34] ReneTode commented on #844
just use 4.0.0 and update the appdaemon.yaml, so that you are up to date.

[2020-01-15 18:38] wsw70 commented on #844
@ReneTode this is what I am doing right now (fortunately the changes are small, I will do a PR for some changes in the docs).

This said the fact that the `3.0.5` tag installs the version 4 is quite annoying for someone who wants to pull back quickly.

[2020-01-15 18:41] ReneTode commented on #844
yeah, i understand. it is noted and ill as @acockburn  to look at it.

please discuss what you think is wrong in the docs first on our discord page before you make a PR.

[2020-01-15 18:43] wsw70 commented on #844
Yes I will. Some are typos (including some parameters), some are (what I believe to be) missing parts, some are unexpected changes in some functions (schedulers). i will take notes for all of that.

[2020-01-15 18:45] ReneTode commented on #844
i can hardly think of any missing part, or unexpected changes, but ill be there to discuss it with you ;)

[2020-01-16 01:10] rafadesu commented on #580
I reckon that now that we have async functions it would be brilliant to have an awaitable wait_for_state or wait_for_event (with timeouts)

Maybe that is similar to what you guys are discussing here. (I can raise a different feature request if you feel that is not similar enough)

That would allow to write handling functions that could be very readable:

Save current volume of speaker
Set volume o

[2020-01-16 09:09] patrick984 opened #845 "Apps fail to initialise (after update to 4.0.0)"
After upgrading to version 4.0.0, apps are no longer initialising.
I have applied the config changes described in [Upgrading from 3.x](https://appdaemon.readthedocs.io/en/4.0.0/UPGRADE_FROM_3.x.html).

appdaemon.log
[code]
appdaemon.err.log
[code]

[2020-01-16 09:48] Flurkmark commented on #845
Excatly the same here. Did a clean install in venv, only loading the HelloWorld example, same result.
python 3.7.5, ubuntu
For fun, caught the first exception only to get a new one:
[code]
Result:
[code]
Config:
[code]

[2020-01-16 11:05] ReneTode commented on #845
because noone had that problem, when we were running in beta ;)

[2020-01-16 11:14] ReneTode commented on #580
i dont think we will start adding async functions anytime soon.
writing apps in async is recommended only for very experienced users that really know what they do, and that know enough about async.

writing apps in sync is way more save.
if you got a lot of apps doing different things and you get a problem in 1 app, in almost all cases all other apps keep on running, so a small mistake wont effect

[2020-01-16 11:38] Flurkmark commented on #845
Don't get testy. Let me rephrase:

Why am I hitting this bug, is there something missing in my config that would as easily fix it?
Since it's a release I would assume it would be in the docs.

[2020-01-16 11:42] rafadesu commented on #580
I guess you are right. I understand.

I can create my own versions of that easily anyways. Thanks for considering.

[2020-01-16 12:35] benleb commented on #845
Not testy, amused 😄👍

[2020-01-16 13:36] Flurkmark commented on #845
@ReneTode Okay, thanks. So it's simply not that the fix in the PR breaks something else, but rather that most users have set up something that I have not. Not using api or dashboard and such. I take it that I can just apply the PR fix and go on.

[2020-01-16 14:46] cybergrimes opened #846 ""Unexpected client disconnection from None" every second in log"
Hi there, just installed v4.0 using Frenck's add-on for Hass.io
It seems to be running fine but I noticed it's spamming this message every second in the log. I thought I would put it here in case it's an issue? I only run HADashboard and that seems fine.

[code]

[2020-01-16 14:48] acockburn commented on #846
What type of client are you using with your dashboards? I've noticed something similar with some devices.

[2020-01-16 14:49] cybergrimes commented on #846
The only client actively displaying the dashboard is an Amazon Fire tablet
It's displayed using "Fully Kiosk Browser" app

[2020-01-16 14:51] cybergrimes commented on #846
I exited the app on the client and log messaging did stop

[2020-01-16 15:16] ReneTode commented on #846
and probably it will stay away when you restart.
i think that is caused by a dashboard that is started before appdaemon is started.

[2020-01-16 15:20] cybergrimes commented on #846
Yes this seems to be the case.
I can close the issue if not a concern-- it just stood out to me and could not find any mention of it here when searching existing issues.

[2020-01-16 18:41] xaviml opened #848 "turn_on service not working with async apps"
## What did I do
I bumped into an [issue](https://community.home-assistant.io/t/need-help-with-appdaemon-4-and-async/163937) from the community forum that resulted to be the same problem I had recently. Consider the following simple application:

[code]

## What happened
Next error appears after 10 seconds that the app was initialized
[code]

However, if I remove the `async` keyword, it works. Als

[2020-01-16 18:43] benleb commented on #848
Same here, tried to use this in my AutoMoLi app but it shows exactly the same behavior described here

[2020-01-16 19:40] ReneTode commented on #848
all i can say is:

AD now has the option to create async apps, but that option is created to use where you cant get around it.
i wouldnt advise to start writing all apps in async, just because it can be done.

the threaded sync core from AD is way more stable, and apps build without async in general wont effect each other, which is good because you dont want all apps to fail, when 1 app fails.

th

[2020-01-17 08:48] patrick984 commented on #845
Can confirm installing #840 fixes the error. Thanks :)

And I learned pip can install PRs directly, pretty cool:
[code]

[2020-01-17 14:40] DanielWinks opened #849 "Thread crash causing endless "Thread will be restarted" loops"
I'm seeing the following errors in my logs, right before an endless "Thread will be restarted" loop begins. This seems to only occur with a specific app, and as far as I can see, that app isn't doing anything particularly "odd". App in question is [here](https://github.com/DanielWinks/appdaemon/blob/master/conf/apps/return_home.py).

This is on AppDaemon 4.0.0 container. Previously also happened w

[2020-01-17 15:08] ReneTode commented on #849
1 thing i notice is that you nowhere set your handlers to None.
but you have "not None" in your if statement to cancel the handler.
devicetrackers can be very tricky. i have seen many cases where they turn on and off unexpectedly many times, so i think you might want to add logging to see if your trackers behave as expected.

using listeners inside listeners is very tricky. you really need to make

[2020-01-17 15:14] ReneTode commented on #845
thx for sharing that @patrick984

and for @patrick984 and @Flurkmark i would advise to consider making sure you have access to the admin interface. (which would also have worked as a fix)
the admin interface will give you great insight in your automations, active callbacks, the amount of times they are called, etc. which is extremely helpfull with debugging and with optimising your apps.

[2020-01-17 15:17] DanielWinks commented on #849
@ReneTode Can you take a look at my main [config](https://github.com/DanielWinks/appdaemon/blob/master/conf/appdaemon.yaml)? The admin page loads, but every field in it is blank. Not sure if there's something there I'm missing, too. It was also blank across various AD v4 releases. I've tried both with and without the socketio option.

![Capture](https://user-images.githubusercontent.com/5339479/72

[2020-01-17 15:19] ReneTode commented on #846
i think it can be closed, because its something that nothing can be done about.

the cause is an old client, using a new program.
i did run into it a few times myself.

[2020-01-17 15:24] ReneTode commented on #849
you have some old stuff in there, but that shouldnt bother. (api_port)
i never did put in transport, so that might be the case. (take it out to try)

for listeners like you want, we now got the oneshot option (see docs)
it listens for 1 change and then cancels the listener automaticly.

[2020-01-17 15:27] DanielWinks commented on #849
I've seen the same with Chrome and FF, on Windows 10 and Linux, as well as Chrome and Firefox on Android.

[2020-01-17 18:02] rogerbi opened #850 "Socketio communication not working"
Hello,

I have an issue with socketio - it is not working anymore in current release

Installation on HassIo AppDaemon 4 0.1.1

secrets: /config/secrets.yaml
appdaemon:
  app_dir: /config/appdaemon/apps
  plugins:
    HASS:
      type: hass
  latitude: 10
  longitude: 10
  time_zone: Europe/Berlin
  elevation: 10
http:
  url: http://127.0.0.1:5050
  transport: socketio
admin:
api:
hadashboard:

I

[2020-01-17 19:14] ReneTode commented on #849
strange, are there errors in the console?
hmm, wait, i believe that @Odianosen25 had something simular.
i think there was a small change right before the release.
hmm, now i did look back and see you got the 4.0 release

docker right? then odia is a better help anyway.

[2020-01-17 19:17] DanielWinks commented on #849
No errors in the logs.

Didn't work on 4.0.0beta2 or now on the 4.0.0 release.

I'm running the pre-built container images from Dockerhub.

[2020-01-17 21:09] DanielWinks commented on #849
Seems the admin page issue is related to HAProxy somehow... I tested it directly by forwarding a port into my container with kubectl and it works fine... I'll figure out what HAProxy needs for it.

I've re-written my app to cancel any possible callbacks before setting new ones, so there shouldn't be any listeners left 'dangling', I'll see if that helps. The "thread will be restarted" loop only hap

[2020-01-18 12:34] ReneTode commented on #849
the fact that it happens every few days, makes me even more think that its about extra listeners.
in that case slowly your resources are filling up.

[2020-01-18 13:22] Odianosen25 commented on #849
@DanielWinks,

That error means that one of your listeners, is not passing the right callback function when its executing. So a `None` is passed, when its expecting a function which leads to it dying. Please ensure your listeners are properly setup.

The other stuffs in the logs above, will be fixed in the next release.

Regards